Repository prescottprue/fireadmin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Verify Functions, Build Packages, Deploy Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Path conditions:
  Verify Functions: any of: functions/**/*, firebase.json, .gitlab-ci.yml
  Build Packages: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Packages: any of: packages/**/*, lerna.json, .gitlab-ci.yml
  Build Docs: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs Staging: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs Production: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Build Staging: any of: src/**/*, package.json, .eslintrc.js, firebase.json, .gitlab-ci.yml

* fix(roles): fix an issue preventing creation of new roles
  package.json
  src/routes/Projects/routes/Project/routes/Permissions/components/NewRoleCard/NewRoleCard.js
  src/routes/Projects/routes/Project/routes/Permissions/components/RolesTable/RolesTable.js
  src/utils/formatters.js
  yarn.lock
Due: Build Staging

chore(deps): update react-instantsearch from v4 to v6
  functions/package.json
  functions/yarn.lock
  package.json
  public/index.html
  src/components/CollectionSearch/CollectionSearch.js
  src/components/CollectionSearch/SuggestedItem.js
  src/components/UsersSearch/SuggestedUser.js
  src/components/UsersSearch/UsersSearch.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionPage.styles.js
  yarn.lock
Due: Verify Functions, Build Staging

Always report results to cypress
  .github/workflows/app-verify.yml
Due: none

Remove docs Gatsby build caching
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
Due: none

Update tests to use new searchbox selector
  cypress/integration/Project/ActionRunner.spec.js
  package.json
  yarn.lock
Due: Build Staging

chore(functions): update mocha from v7 to v8
  .github/dependabot.yml
  functions/package.json
  functions/yarn.lock
Due: Verify Functions

chore(deps): update docs dependencies
  .github/dependabot.yml
  docs/package.json
  docs/yarn.lock
Due: Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production

Skip draw/drop dependencies
  .github/dependabot.yml
  package.json
  yarn.lock
Due: Build Staging

v0.10.2 (#130)
  .github/dependabot.yml
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
  cypress/integration/Project/ActionRunner.spec.js
  docs/package.json
  docs/yarn.lock
  functions/package.json
  functions/yarn.lock
  package.json
  public/index.html
  src/components/CollectionSearch/CollectionSearch.js
  src/components/CollectionSearch/SuggestedItem.js
  src/components/UsersSearch/SuggestedUser.js
  src/components/UsersSearch/UsersSearch.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionPage.styles.js
  src/routes/Projects/routes/Project/routes/Permissions/components/NewMemberModal/useNewMemberModal.js
  src/routes/Projects/routes/Project/routes/Permissions/components/NewRoleCard/NewRoleCard.js
  src/routes/Projects/routes/Project/routes/Permissions/components/RolesTable/RolesTable.js
  src/utils/formatters.js
  yarn.lock
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

v0.10.3
  package.json
Due: Build Staging

build(deps-dev): bump eslint-plugin-babel from 5.3.0 to 5.3.1 in /docs
  docs/package.json
  docs/yarn.lock
  functions/package.json
  functions/yarn.lock
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production

build(deps): bump dot-prop from 5.1.0 to 5.2.0 in /functions
  functions/yarn.lock
Due: Verify Functions

build(deps): bump minimist from 1.2.0 to 1.2.5 in /functions (#133)
  functions/yarn.lock
Due: Verify Functions

v0.10.3 (#145)
  docs/package.json
  docs/yarn.lock
  functions/package.json
  functions/yarn.lock
  package.json
  yarn.lock
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

chore(functions): replace googleapis with google-auth-library (#131)
  .github/dependabot.yml
  functions/package.json
  functions/src/actionRunner/actions.ts
  functions/src/actionRunner/utils.ts
  functions/src/callGoogleApi/callGoogleApi.ts
  functions/src/utils/serviceAccounts.ts
  functions/yarn.lock
  src/routes/Projects/routes/Project/routes/BucketConfig/components/BucketConfigForm/BucketConfigForm.js
  src/utils/firebaseFunctions.js
Due: Verify Functions, Build Staging

remove sendFcm and onUserOnlineStatusChange cloud functions
  functions/src/actionRunner/runAction.ts
  functions/src/actionRunner/runSteps.ts
  functions/src/actionRunner/utils.ts
  functions/src/onUserOnlineStatusChange/index.ts
  functions/src/onUserOnlineStatusChange/onUserOnlineStatusChange.spec.ts
  functions/src/sendFcm/index.ts
  functions/src/sendFcm/sendFcm.spec.ts
  functions/src/utils/search.ts
Due: Verify Functions

Fix actionRunner test mocks
  functions/src/actionRunner/actionRunner.spec.ts
  functions/src/utils/index.ts
Due: Verify Functions

chore(functions): replace googleapis with google-auth-library (#131) (#146)
  .github/dependabot.yml
  functions/package.json
  functions/src/actionRunner/actionRunner.spec.ts
  functions/src/actionRunner/actions.ts
  functions/src/actionRunner/runAction.ts
  functions/src/actionRunner/runSteps.ts
  functions/src/actionRunner/utils.ts
  functions/src/callGoogleApi/callGoogleApi.ts
  functions/src/onUserOnlineStatusChange/index.ts
  functions/src/onUserOnlineStatusChange/onUserOnlineStatusChange.spec.ts
  functions/src/sendFcm/index.ts
  functions/src/sendFcm/sendFcm.spec.ts
  functions/src/utils/index.ts
  functions/src/utils/search.ts
  functions/src/utils/serviceAccounts.ts
  functions/yarn.lock
  src/routes/Projects/routes/Project/routes/BucketConfig/components/BucketConfigForm/BucketConfigForm.js
  src/utils/firebaseFunctions.js
Due: Verify Functions, Build Staging

build(deps-dev): bump cypress from 4.12.1 to 5.0.0
  cypress.json
  package.json
  yarn.lock
Due: Build Staging

Remove cypress-plugin-retries
  cypress/plugins/index.js
Due: none

REmove another reference
  cypress/support/index.js
Due: none

build(deps-dev): bump cypress from 4.12.1 to 5.0.0 (#169)
  cypress.json
  cypress/plugins/index.js
  cypress/support/index.js
  package.json
  yarn.lock
Due: Build Staging

v0.10.4
  functions/package.json
  functions/yarn.lock
  package.json
  yarn.lock
Due: Verify Functions, Build Staging

fix(ci): remove usage of set-env in CI workflows
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
Due: none

build(dev-deps): update firebase-ci
  .github/workflows/app-deploy.yml
  Dockerfile
  package.json
  yarn.lock
Due: Build Staging

fix extra quote
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
Due: none

fix: remove usage of firebase-ci setEnv
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
Due: none

expose project configs to github env
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
Due: none

add master as default config branch
  .github/workflows/app-verify.yml
Due: none

fix invalid check in test
  cypress/integration/ProjectsPage.spec.js
Due: none

add check to prevent failure in projects name test
  cypress/integration/ProjectsPage.spec.js
Due: none

fix(ci): remove usage of set-env in CI workflows (#343)
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  Dockerfile
  cypress/integration/ProjectsPage.spec.js
  package.json
  yarn.lock
Due: Build Staging

feat(functions): set actionRunner memory to 4GB
  functions/package.json
  functions/src/actionRunner/index.ts
  functions/yarn.lock
  package.json
  yarn.lock
Due: Verify Functions, Build Staging

fix(dev-deps): update to cypress v6
  package.json
  yarn.lock
Due: Build Staging

add analytics id for docs
  docs/data/siteConfig.js
  docs/package.json
  docs/yarn.lock
  package.json
  src/routes/Login/components/LoginPage/LoginPage.js
  yarn.lock
Due: Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

point to docs.fireadmin.io
  firebase.json
  src/constants/docs.js
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

add docs analytics id
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
  functions/package.json
  functions/yarn.lock
  husky/pre-commit
  package.json
  yarn.lock
Due: Verify Functions, Build Staging

update top level node version requirement
  package.json
Due: Build Staging

update node version in verify tests
  .github/workflows/app-verify.yml
  functions/package.json
  functions/yarn.lock
  package.json
  yarn.lock
Due: Verify Functions, Build Staging
