Repository prescottprue/fireadmin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Functions Unit Tests, Build Docs, Deploy Docs, Build Functions

Functions Unit Tests:
  stage: unit_tests
  image: node:8
  allow_failure: true
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    paths:
    - functions/coverage
  cache:
    untracked: true
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .yarn
    - functions/node_modules
  before_script:
  ...

Build Docs:
  stage: build
  image: node:8
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  cache:
    untracked: true
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .yarn
    - docs/node_modules
  before_script:
  ...

Deploy Docs:
  stage: deploy_production
  image: node:8
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  cache:
    untracked: true
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .yarn
    - docs/node_modules
  before_script:
  ...

Build Functions:
  stage: build
  image: node:8
  allow_failure: true
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    paths:
    - functions/coverage
    - functions/dist
  cache:
    untracked: true
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - functions/.yarn
    - functions/node_modules
  before_script:
  ...

fix(ci): seperate prod targets in firebase target settings
  .firebaserc
  .gitlab-ci.yml
Due: Functions Unit Tests, Build Docs, Deploy Docs, Build Functions

Fix constants including formNames [ci skip]
  package.json
  src/constants/formNames.js
  src/routes/ActionTemplate/components/ActionEditor/ActionEditor.utils.js
  src/routes/ActionTemplate/components/ActionStepLocation/ActionStepLocation.enhancer.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.enhancer.js
  src/routes/ActionTemplate/components/ActionTemplatePage/ActionTemplatePage.enhancer.js
  src/routes/ActionTemplate/components/ActionTemplatePage/ActionTemplatePage.handlers.js
  src/routes/ActionTemplate/components/ActionTemplateStep/ActionTemplateStep.enhancer.js
  src/routes/ActionTemplates/components/ActionTemplatesList/ActionTemplatesList.enhancer.js
  src/routes/ActionTemplates/components/ActionTemplatesList/ActionTemplatesList.handlers.js
  src/routes/ActionTemplates/components/NewActionTemplateDialog/NewActionTemplateDialog.enhancer.js
  src/routes/index.js
  yarn.lock
Due: none

More updates, but now routing isn't working
  public/index.html
  public/manifest.json
  src/constants/firebasePaths.js
  src/index.html
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.js
  src/routes/ActionTemplate/components/ActionTemplatePage/ActionTemplatePage.enhancer.js
  src/routes/ActionTemplate/components/ActionTemplatePage/ActionTemplatePage.js
  src/routes/Project/components/ProjectPage/ProjectPage.js
  src/routes/Project/routes/Actions/components/ActionRunnerForm/ActionRunnerForm.enhancer.js
  src/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.enhancer.js
  src/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.handlers.js
  src/routes/Project/routes/Environments/components/AddEnvironmentDialog/AddEnvironmentDialog.enhancer.js
  src/routes/Project/routes/Environments/components/EnvironmentsPage/EnvironmentsPage.handlers.js
  src/routes/Project/routes/Permissions/components/NewRoleCard/NewRoleCard.enhancer.js
  src/routes/Project/routes/Permissions/components/Permissions/Permissions.enhancer.js
  src/routes/Project/routes/Permissions/components/PermissionsTable/PermissionsTable.js
  src/routes/Project/routes/Permissions/components/RolesTable/RolesTable.js
  src/routes/Projects/components/ProjectTile/ProjectTile.enhancer.js
  src/routes/Projects/components/ProjectTile/ProjectTile.js
  src/routes/Projects/components/ProjectTile/ProjectTile.styles.js
  src/routes/Projects/components/ProjectsPage/ProjectsPage.js
  src/theme.js
Due: none

Switch react-redux-firebase imports and add bundle analyzer.
  .size-limit.js
  build/webpack.config.js
  package.json
  src/components/VersionChangeReloader/VersionChangeReloader.enhancer.js
  src/containers/Navbar/Navbar.enhancer.js
  src/routes/Account/components/AccountPage/AccountPage.enhancer.js
  src/routes/ActionTemplate/components/ActionEditor/ActionEditor.enhancer.js
  src/routes/ActionTemplate/components/ActionTemplatePage/ActionTemplatePage.enhancer.js
  src/routes/ActionTemplate/components/LoadIntoProjectButton/LoadIntoProjectButton.enhancer.js
  src/routes/ActionTemplates/components/ActionTemplatesList/ActionTemplatesList.enhancer.js
  src/routes/Login/components/LoginPage/LoginPage.enhancer.js
  src/routes/Project/components/ProjectPage/ProjectPage.enhancer.js
  src/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.enhancer.js
  src/routes/Project/routes/Actions/components/PrivateActionTemplates/PrivateActionTemplates.enhancer.js
  src/routes/Project/routes/Actions/components/RecentActions/RecentActions.enhancer.js
  src/routes/Project/routes/BucketConfig/components/BucketConfigForm/BucketConfigForm.enhancer.js
  src/routes/Project/routes/Environments/components/EnvironmentsPage/EnvironmentsPage.enhancer.js
  src/routes/Project/routes/Permissions/components/NewMemberModal/NewMemberModal.enhancer.js
  src/routes/Project/routes/Permissions/components/PermissionsTable/PermissionsTable.enhancer.js
  src/routes/Project/routes/Permissions/components/RolesTable/RolesTable.enhancer.js
  src/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.enhancer.js
  src/routes/Projects/components/ProjectsPage/ProjectsPage.enhancer.js
  src/routes/Projects/components/ProjectsPage/ProjectsPage.js
  src/routes/Projects/components/SharingDialog/SharingDialog.enhancer.js
  src/routes/Signup/components/SignupPage/SignupPage.enhancer.js
  src/store/createStore.js
  src/store/reducers.js
  src/utils/components.js
  yarn.lock
Due: none

Add lodash-webpack-plugin
  build/webpack.config.js
  package.json
  project.config.js
  yarn.lock
Due: none

Add more vendors for even lower overal size and small main [ci skip]
  package.json
  project.config.js
Due: none

Fix size limits to match new sizes
  .gitlab-ci.yml
  .size-limit.js
  package.json
Due: Functions Unit Tests, Build Docs, Deploy Docs, Build Functions

Decrease Bundle Sizes + Add Size Scripts (#81)
  .gitlab-ci.yml
  .size-limit.js
  build/webpack.config.js
  package.json
  project.config.js
  src/components/VersionChangeReloader/VersionChangeReloader.enhancer.js
  src/containers/Navbar/Navbar.enhancer.js
  src/routes/Account/components/AccountPage/AccountPage.enhancer.js
  src/routes/ActionTemplate/components/ActionEditor/ActionEditor.enhancer.js
  src/routes/ActionTemplate/components/ActionTemplatePage/ActionTemplatePage.enhancer.js
  src/routes/ActionTemplate/components/LoadIntoProjectButton/LoadIntoProjectButton.enhancer.js
  src/routes/ActionTemplates/components/ActionTemplatesList/ActionTemplatesList.enhancer.js
  src/routes/Login/components/LoginPage/LoginPage.enhancer.js
  src/routes/Project/components/ProjectPage/ProjectPage.enhancer.js
  src/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.enhancer.js
  src/routes/Project/routes/Actions/components/PrivateActionTemplates/PrivateActionTemplates.enhancer.js
  src/routes/Project/routes/Actions/components/RecentActions/RecentActions.enhancer.js
  src/routes/Project/routes/BucketConfig/components/BucketConfigForm/BucketConfigForm.enhancer.js
  src/routes/Project/routes/Environments/components/EnvironmentsPage/EnvironmentsPage.enhancer.js
  src/routes/Project/routes/Permissions/components/NewMemberModal/NewMemberModal.enhancer.js
  src/routes/Project/routes/Permissions/components/PermissionsTable/PermissionsTable.enhancer.js
  src/routes/Project/routes/Permissions/components/RolesTable/RolesTable.enhancer.js
  src/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.enhancer.js
  src/routes/Projects/components/ProjectsPage/ProjectsPage.enhancer.js
  src/routes/Projects/components/ProjectsPage/ProjectsPage.js
  src/routes/Projects/components/SharingDialog/SharingDialog.enhancer.js
  src/routes/Signup/components/SignupPage/SignupPage.enhancer.js
  src/store/createStore.js
  src/store/reducers.js
  src/utils/components.js
  yarn.lock
Due: Functions Unit Tests, Build Docs, Deploy Docs, Build Functions

v0.8.5
  .size-limit.js
  cypress/integration/Project/ActionRunner.spec.js
  package.json
  src/containers/Navbar/Navbar.enhancer.js
  src/routes/Project/routes/Actions/components/ActionRunnerForm/ActionRunnerForm.js
Due: none

fix(ci): only call docs deploy when docs files are changed
  .gitlab-ci.yml
Due: Functions Unit Tests, Build Docs, Deploy Docs, Build Functions

fix(build): remove lodash module plugin from webpack
  build/webpack.config.js
  package.json
  src/store/createStore.js
  yarn.lock
Due: none

Make action runner tests not dependent on class name [skip-build, skip-deploy]
  .gitlab-ci.yml
  cypress/integration/Project/ActionRunner.spec.js
Due: Functions Unit Tests, Build Docs, Deploy Docs, Build Functions

fix(tests): add missing import for firebase in test utilities
  cypress/support/commands.js
  cypress/utils/index.js
Due: none

fix(ci): also skip deploy is skipping build (since there is no build to deploy)
  .gitlab-ci.yml
  cypress/integration/Project/Environments.spec.js
  cypress/integration/Project/Events.spec.js
  cypress/utils/index.js
  src/routes/Project/routes/Environments/components/EnvironmentsPage/EnvironmentsPage.js
  src/routes/Project/routes/Environments/components/Instance/Instance.js
Due: Functions Unit Tests, Build Docs, Deploy Docs, Build Functions

Improve events tests to by including dates [ci skip]
  cypress/integration/Project/Environments.spec.js
  cypress/integration/Project/Events.spec.js
  src/routes/Project/routes/ProjectEvents/components/EventsTable/EventsTable.js
Due: none

Update cypress-firebase version [ci skip]
  package.json
  yarn.lock
Due: none

Start access_token auth + REST API shallow get
  functions/src/actionRunner/runSteps.js
  functions/src/callGoogleApi/callGoogleApi.js
  functions/src/utils/serviceAccounts.js
Due: Functions Unit Tests, Build Functions

fix(tests): improve environments and events UI tests by adding timestamps (through new cypress-firebase) (#82)
  cypress/integration/Project/Environments.spec.js
  cypress/integration/Project/Events.spec.js
  package.json
  src/routes/Project/routes/ProjectEvents/components/EventsTable/EventsTable.js
  yarn.lock
Due: none

Add batch copying to action function
  functions/src/actionRunner/actions.js
  functions/src/actionRunner/runSteps.js
  functions/src/constants/serviceAccount.js
  functions/src/utils/async.js
  functions/src/utils/rtdb.js
  functions/src/utils/serviceAccounts.js
Due: Functions Unit Tests, Build Functions

fix(tests): select environment option directly instead of first/last
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  cypress/integration/Project/ActionRunner.spec.js
  src/routes/Project/routes/Actions/components/ActionRunnerForm/ActionRunnerForm.js
Due: none

Docs Links Styling + Set Ports For Docs + More Test Improvement
  Dockerfile
  cypress/integration/Docs.spec.js
  cypress/integration/Project/ActionRunner.spec.js
  docs/package.json
  package.json
  src/constants.js
  src/containers/Navbar/Navbar.js
  src/containers/Navbar/Navbar.styles.js
Due: Build Docs, Deploy Docs

v0.8.6
  docs/.env.development
  docs/content/guides/custom-action-template.md
  docs/content/guides/initial-setup.md
  docs/content/testing/ui-tests.md
  docs/content/testing/vanilla-js-tests.md
  docs/src/constants/paths.js
  package.json
  project.config.js
Due: Build Docs, Deploy Docs

Remove Firepad (was causing protobuf error preventing writes to Firestore). Update firebase-admin
  .gitignore
  firebase.json
  functions/.babelrc
  functions/index.js
  functions/package.json
  functions/src/actionRunner/firepad.js
  functions/src/actionRunner/runSteps.js
  functions/src/actionRunner/utils.js
  functions/test/mocha.opts
  functions/yarn.lock
  src/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.handlers.js
  yarn.lock
Due: Functions Unit Tests, Build Docs, Deploy Docs, Build Functions

Remove unused cloud functions and deps (storageFileToRTDB + sendInvite)
  .eslintignore
  functions/package.json
  functions/src/sendInvite/index.js
  functions/src/storageFileToRTDB/index.js
  functions/src/utils/serviceAccounts.js
  functions/yarn.lock
Due: Functions Unit Tests, Build Functions

Remove functions build step (the build as part of pre-deploy). Remove no longer used tests.
  .gitlab-ci.yml
  functions/test/unit/sendInvite.spec.js
  functions/test/unit/storageFileToRTDB.spec.js
Due: Functions Unit Tests, Build Docs, Deploy Docs, Build Functions

Remove usage of rimraf. Fix nyc call.
  functions/package.json
  functions/src/utils/serviceAccounts.js
Due: Functions Unit Tests, Build Functions

Remove Firepad To Fix Action Events - Remove Unused Cloud Functions (#85)
  .eslintignore
  .gitignore
  .gitlab-ci.yml
  firebase.json
  functions/.babelrc
  functions/index.js
  functions/package.json
  functions/src/actionRunner/firepad.js
  functions/src/actionRunner/runSteps.js
  functions/src/actionRunner/utils.js
  functions/src/sendInvite/index.js
  functions/src/storageFileToRTDB/index.js
  functions/src/utils/serviceAccounts.js
  functions/test/mocha.opts
  functions/test/unit/sendInvite.spec.js
  functions/test/unit/storageFileToRTDB.spec.js
  functions/yarn.lock
  src/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.handlers.js
  yarn.lock
Due: Functions Unit Tests, Build Docs, Deploy Docs, Build Functions

Batch copying working with objects and non object values.
  functions/src/actionRunner/actions.js
  functions/src/actionRunner/runSteps.js
  functions/src/constants/serviceAccount.js
  functions/src/utils/rtdb.js
  functions/src/utils/serviceAccounts.js
Due: Functions Unit Tests, Build Functions

Fix createdBy of null error found in sentry (fixes 1238306-916653401)
  src/routes/Project/routes/ProjectEvents/components/EventsTable/EventsTable.js
Due: none

Add error handling and messaging for Sentry error about invalid argument (fixes 1238306-789402337) [ci skip]
  src/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.handlers.js
Due: none

Fix some missing references in action template.
  functions/src/actionRunner/runSteps.js
  src/routes/ActionTemplate/components/ActionTemplateBackups/ActionTemplateBackups.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.js
  src/routes/ActionTemplate/components/ActionTemplateStep/ActionTemplateStep.js
  src/routes/Project/routes/Actions/components/ActionRunnerForm/ActionRunnerForm.js
Due: Functions Unit Tests, Build Functions

Fix action template form to not include serviceAccount type for new items. Add disabling of batching (which falls back to old copy method)
  functions/src/actionRunner/runSteps.js
  src/routes/ActionTemplate/components/ActionTemplateEnvs/ActionTemplateEnvs.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.enhancer.js
  src/routes/ActionTemplate/components/ActionTemplateInputs/ActionTemplateInputs.js
  src/routes/ActionTemplate/components/ActionTemplateStep/ActionTemplateStep.js
Due: Functions Unit Tests, Build Functions

feat(actionRunner): batch copying for RTDB (using shallow from Firebase's REST API) (#83)
  functions/src/actionRunner/actions.js
  functions/src/actionRunner/runSteps.js
  functions/src/callGoogleApi/callGoogleApi.js
  functions/src/constants/serviceAccount.js
  functions/src/utils/async.js
  functions/src/utils/rtdb.js
  functions/src/utils/serviceAccounts.js
  src/routes/ActionTemplate/components/ActionTemplateBackups/ActionTemplateBackups.js
  src/routes/ActionTemplate/components/ActionTemplateEnvs/ActionTemplateEnvs.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.enhancer.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.js
  src/routes/ActionTemplate/components/ActionTemplateInputs/ActionTemplateInputs.js
  src/routes/ActionTemplate/components/ActionTemplateStep/ActionTemplateStep.js
  src/routes/Project/routes/Actions/components/ActionRunnerForm/ActionRunnerForm.js
  src/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.handlers.js
  src/routes/Project/routes/ProjectEvents/components/EventsTable/EventsTable.js
Due: Functions Unit Tests, Build Functions

v0.8.7
  cypress/integration/Docs.spec.js
  package.json
  src/routes/ActionTemplate/components/ActionTemplateStep/ActionTemplateStep.js
  yarn.lock
Due: none

Basic typescript library loading in src
  .gitignore
  lerna.json
  package.json
  packages/core/package.json
  packages/core/src/Project.ts
  packages/core/src/constants/fbConfigs.ts
  packages/core/src/constants/firebasePaths.ts
  packages/core/src/index.ts
  packages/core/src/initialize.ts
  packages/core/src/utils/firebase.ts
  packages/core/tsconfig.json
  packages/core/types/Project.d.ts
  packages/core/types/constants/fbConfigs.d.ts
  packages/core/types/constants/firebasePaths.d.ts
  packages/core/types/index.d.ts
  packages/core/types/initialize.d.ts
  packages/core/types/utils/firebase.d.ts
  packages/core/yarn.lock
  src/routes/Project/components/ProjectPage/ProjectPage.enhancer.js
Due: none

Start work with rollup - running into error [ci skip]
  .gitignore
  packages/core/package.json
  packages/core/rollup.config.js
  packages/core/src/Project.ts
  packages/core/src/index.ts
  packages/core/src/utils/firebase.ts
  packages/core/tsconfig.json
  packages/core/types/Project.d.ts
  packages/core/types/constants/fbConfigs.d.ts
  packages/core/types/constants/firebasePaths.d.ts
  packages/core/types/index.d.ts
  packages/core/types/initialize.d.ts
  packages/core/types/utils/firebase.d.ts
  packages/core/yarn.lock
  src/routes/Project/components/ProjectPage/ProjectPage.enhancer.js
Due: none

Library building!
  .gitignore
  packages/core/package.json
  packages/core/rollup.config.js
  packages/core/src/index.ts
  packages/core/src/initialize.ts
  packages/core/tsconfig.json
  packages/core/yarn.lock
Due: none

Remove rollup (since we don't need to create a bundle)
  packages/core/index.d.ts
  packages/core/package.json
  packages/core/tsconfig.json
  packages/core/yarn.lock
Due: none

First test running
  .gitignore
  packages/core/package.json
  packages/core/test/mocha.opts
  packages/core/test/setup.js
  packages/core/test/unit/Project.spec.ts
  packages/core/tsconfig.json
  packages/core/yarn.lock
Due: none

Path conditions:
  Functions Unit Tests: any of: functions/**/*, firebase.json, .gitlab-ci.yml
  Build Docs: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Build Functions: any of: functions/**/*, firebase.json, .gitlab-ci.yml
