Repository prescottprue/fireadmin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Verify Functions, Build Packages, Deploy Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Verify Functions:
  stage: verify
  image: node:10
  allow_failure: true
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    paths:
    - functions/coverage
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  before_script:
  ...

Build Packages:
  stage: build
  image: node:8
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - packages/**/lib
    - packages/**/lib-esm
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  script:
  - yarn lint:packages
  - yarn build:packages

Deploy Packages:
  stage: deploy_production
  image: node:8
  when: on_success
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - packages/**/lib
    - packages/**/lib-esm
  dependencies:
  - Build Packages
  before_script:
  ...

Build Docs:
  stage: build
  image: node:10
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  before_script:
  - CYPRESS_INSTALL_BINARY=0 yarn install --frozen-lockfile --cache-folder .yarn
  ...

Deploy Docs Staging:
  stage: deploy_staging
  image: node:10
  when: on_success
  environment:
    name: docs-staging
    url: https://fireadmin-stage-docs.firebaseapp.com
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  dependencies:
  - Build Docs
  script:
  ...

Deploy Docs Production:
  stage: deploy_production
  image: node:10
  when: manual
  variables:
    FIREBASE_CI_PROJECT: prod
  environment:
    name: docs-production
    url: https://fireadmin-docs.firebaseapp.com
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  ...

Build Staging:
  stage: build
  image: node:10
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - dist
  script:
  - yarn build:config
  - yarn lint:app
  - yarn build
  - yarn size

Use value of serverTimestamp instead
  cypress/support/commands.js
Due: none

Use timestamp value instead of serverTimestamp
  cypress/integration/Project/ActionRunner.spec.js
  cypress/support/commands.js
Due: none

Switch to addProject custom command
  cypress/integration/Project/Environments.spec.js
  cypress/integration/Project/Events.spec.js
  cypress/integration/Project/Permissions.spec.js
  cypress/support/commands.js
  docs/content/testing/ui-tests.md
Due: Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production

Update cypress-firebase to fix timestamps in tests
  cypress/integration/Project/Events.spec.js
  cypress/support/commands.js
  package.json
  src/routes/Projects/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.js
  src/utils/formatters.js
  yarn.lock
Due: Build Staging

Pass event data to addProjectEvent
  cypress/support/commands.js
Due: none

Add timestamps to action templates seeding
  cypress/integration/ActionTemplates/ActionTemplatesPage.spec.js
Due: none

Update cypress-firebase to fix array issue
  package.json
  yarn.lock
Due: Build Staging

chore(core): switch to REACT_APP env variables in place of src/config.js (#120)
  .env
  .firebaserc
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  .gitignore
  README.md
  cypress/integration/ActionTemplates/ActionTemplatesPage.spec.js
  cypress/integration/Project/ActionRunner.spec.js
  cypress/integration/Project/Environments.spec.js
  cypress/integration/Project/Events.spec.js
  cypress/integration/Project/Permissions.spec.js
  cypress/support/commands.js
  docs/content/testing/ui-tests.md
  package.json
  src/components/AnalyticsPageViewLogger/AnalyticsPageViewLogger.js
  src/components/CollectionSearch/CollectionSearch.js
  src/components/SetupFirestore/SetupFirestore.js
  src/components/SetupMessaging/SetupMessaging.js
  src/components/SetupMessaging/useSetupMessaging.js
  src/components/UsersSearch/UsersSearch.js
  src/containers/App/App.js
  src/index.js
  src/routes/Projects/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.js
  src/utils/analytics.js
  src/utils/errorHandler.js
  src/utils/formatters.js
  yarn.lock
Due: Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

chore(functions): replace request and request-promise with node-fetch
  .github/workflows/app-verify.yml
  README.md
  functions/package.json
  functions/src/actionRunner/actions.ts
  functions/src/actionRunner/runAction.ts
  functions/src/actionRunner/utils.ts
  functions/src/callGoogleApi/callGoogleApi.ts
  functions/src/constants/firebasePaths.ts
  functions/src/utils/cloudStorage.ts
  functions/yarn.lock
  package.json
Due: Verify Functions, Build Staging

Remove unnessesary logs
  functions/src/actionRunner/runAction.ts
  functions/src/actionRunner/runSteps.ts
  functions/src/actionRunner/utils.ts
Due: Verify Functions

chore(functions): replace request and request-promise with node-fetch (#121)
  .github/workflows/app-verify.yml
  README.md
  functions/package.json
  functions/src/actionRunner/actions.ts
  functions/src/actionRunner/runAction.ts
  functions/src/actionRunner/runSteps.ts
  functions/src/actionRunner/utils.ts
  functions/src/callGoogleApi/callGoogleApi.ts
  functions/src/constants/firebasePaths.ts
  functions/src/utils/cloudStorage.ts
  functions/yarn.lock
  package.json
Due: Verify Functions, Build Staging

chore(functions): update to algoliasearch v4 in functions
  functions/package.json
  functions/src/actionRunner/actions.ts
  functions/src/actionRunner/index.ts
  functions/src/actionRunner/utils.ts
  functions/src/callGoogleApi/callGoogleApi.ts
  functions/src/indexUser/index.ts
  functions/src/utils/firestore.ts
  functions/src/utils/search.ts
  functions/src/utils/serviceAccounts.ts
  functions/yarn.lock
Due: Verify Functions

Remove unnessesary functions.config().firebase
  firebase.json
  functions/index.js
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

fix(functions): delete folder recursivley to prevent error in actionRunner
  functions/src/actionRunner/runSteps.ts
  functions/src/actionRunner/utils.ts
  functions/src/sendFcm/index.ts
  functions/src/utils/firestore.ts
Due: Verify Functions

fix(tests): make project tests use different project ids
  cypress/integration/Project/ActionRunner.spec.js
  cypress/integration/Project/Environments.spec.js
  cypress/integration/Project/Events.spec.js
  cypress/support/commands.js
Due: none

chore(functions): update to algoliasearch v4 in functions (#122)
  cypress/integration/Project/ActionRunner.spec.js
  cypress/integration/Project/Environments.spec.js
  cypress/integration/Project/Events.spec.js
  cypress/support/commands.js
  firebase.json
  functions/index.js
  functions/package.json
  functions/src/actionRunner/actions.ts
  functions/src/actionRunner/index.ts
  functions/src/actionRunner/runSteps.ts
  functions/src/actionRunner/utils.ts
  functions/src/callGoogleApi/callGoogleApi.ts
  functions/src/indexUser/index.ts
  functions/src/sendFcm/index.ts
  functions/src/utils/firestore.ts
  functions/src/utils/search.ts
  functions/src/utils/serviceAccounts.ts
  functions/yarn.lock
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

v0.9.9
  .codecov.yml
  package.json
Due: Build Staging

chore(tests): move functions unit tests into src folder
  .github/workflows/app-deploy.yml
  functions/.eslintrc.js
  functions/index.spec.ts
  functions/package.json
  functions/src/actionRunner/actionRunner.spec.ts
  functions/src/actionRunner/utils.ts
  functions/src/callGoogleApi/callGoogleApi.spec.ts
  functions/src/cleanupProject/cleanupProject.spec.ts
  functions/src/copyServiceAccountToFirestore/copyServiceAccountToFirestore.spec.ts
  functions/src/indexActionTemplates/indexActionTemplates.spec.ts
  functions/src/indexUser/indexUser.spec.ts
  functions/src/onUserOnlineStatusChange/onUserOnlineStatusChange.spec.ts
  functions/src/sendFcm/sendFcm.spec.ts
  functions/src/utils/firestore.ts
Due: Verify Functions

chore(tests): move functions unit tests into src folder (#123)
  .github/workflows/app-deploy.yml
  functions/.eslintrc.js
  functions/index.spec.ts
  functions/package.json
  functions/src/actionRunner/actionRunner.spec.ts
  functions/src/actionRunner/utils.ts
  functions/src/callGoogleApi/callGoogleApi.spec.ts
  functions/src/cleanupProject/cleanupProject.spec.ts
  functions/src/copyServiceAccountToFirestore/copyServiceAccountToFirestore.spec.ts
  functions/src/indexActionTemplates/indexActionTemplates.spec.ts
  functions/src/indexUser/indexUser.spec.ts
  functions/src/onUserOnlineStatusChange/onUserOnlineStatusChange.spec.ts
  functions/src/sendFcm/sendFcm.spec.ts
  functions/src/utils/firestore.ts
Due: Verify Functions

start removal
  functions/package.json
  functions/src/actionRunner/actions.ts
  functions/src/actionRunner/utils.ts
  functions/src/utils/cloudStorage.ts
  functions/src/utils/serviceAccounts.ts
  functions/yarn.lock
Due: Verify Functions

v0.9.10
  .github/workflows/app-deploy.yml
  package.json
Due: Build Staging

chore(app): remove lodash from a number of places within the app
  functions/package.json
  functions/src/actionRunner/actions.ts
  functions/src/callGoogleApi/callGoogleApi.ts
  functions/src/utils/cloudStorage.ts
  functions/src/utils/encryption.ts
  functions/src/utils/index.ts
  package.json
  src/components/CollectionSearch/SuggestedItem.js
  src/components/UsersList/UsersList.js
  src/containers/App/App.js
  src/routes/ActionTemplates/components/ActionTemplateListCard/ActionTemplateListCard.js
  src/routes/Projects/components/ProjectTile/ProjectTile.js
  src/utils/firebaseFunctions.js
  yarn.lock
Due: Verify Functions, Build Staging

fix(ci): fix invalid config for deploy
  .github/workflows/app-deploy.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
  README.md
Due: none

fix(functions): fix removal of project subcollections in cleanupProject
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  functions/package.json
  functions/src/actionRunner/actionRunner.spec.ts
  functions/src/callGoogleApi/callGoogleApi.ts
  functions/src/cleanupProject/cleanupProject.spec.ts
  functions/src/cleanupProject/index.ts
  functions/src/utils/index.ts
  functions/yarn.lock
  package.json
  src/routes/ActionTemplate/components/ActionTemplateBackups/ActionTemplateBackups.js
  src/routes/ActionTemplate/components/ActionTemplateEnvs/ActionTemplateEnvs.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.js
  src/routes/ActionTemplate/components/ActionTemplateInputs/ActionTemplateInputs.js
  src/routes/ActionTemplate/components/ActionTemplateSteps/ActionTemplateSteps.js
  src/routes/Projects/components/NewProjectDialog/NewProjectDialog.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsRunnerForm/ActionsRunnerForm.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/BucketConfigForm/BucketConfigForm.js
  src/routes/Projects/routes/Project/routes/Environments/components/AddEnvironmentDialog/AddEnvironmentDialog.js
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTableRow/PermissionsTableRow.js
  src/routes/Projects/routes/Project/routes/Permissions/components/RolesTableRow/RolesTableRow.js
Due: Verify Functions, Build Staging

Fix some issues causing breakage of UI tests
  cypress/integration/Project/Environments.spec.js
  package.json
  src/routes/ActionTemplates/components/NewActionTemplateDialog/NewActionTemplateDialog.js
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTableRow/PermissionsTableRow.js
Due: Build Staging

Add logic for canceling previous builds
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
  package.json
Due: Build Staging

Fix add environment submit button
  src/routes/Projects/routes/Project/routes/Environments/components/AddEnvironmentDialog/AddEnvironmentDialog.js
Due: Build Staging

v0.9.11 (#126)
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
  README.md
  cypress/integration/Project/Environments.spec.js
  functions/package.json
  functions/src/actionRunner/actionRunner.spec.ts
  functions/src/actionRunner/actions.ts
  functions/src/actionRunner/utils.ts
  functions/src/callGoogleApi/callGoogleApi.ts
  functions/src/cleanupProject/cleanupProject.spec.ts
  functions/src/cleanupProject/index.ts
  functions/src/utils/cloudStorage.ts
  functions/src/utils/encryption.ts
  functions/src/utils/index.ts
  functions/src/utils/serviceAccounts.ts
  functions/yarn.lock
  package.json
  src/components/CollectionSearch/SuggestedItem.js
  src/components/UsersList/UsersList.js
  src/containers/App/App.js
  src/routes/ActionTemplate/components/ActionTemplateBackups/ActionTemplateBackups.js
  src/routes/ActionTemplate/components/ActionTemplateEnvs/ActionTemplateEnvs.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.js
  src/routes/ActionTemplate/components/ActionTemplateInputs/ActionTemplateInputs.js
  src/routes/ActionTemplate/components/ActionTemplateSteps/ActionTemplateSteps.js
  src/routes/ActionTemplates/components/ActionTemplateListCard/ActionTemplateListCard.js
  src/routes/ActionTemplates/components/NewActionTemplateDialog/NewActionTemplateDialog.js
  src/routes/Projects/components/NewProjectDialog/NewProjectDialog.js
  src/routes/Projects/components/ProjectTile/ProjectTile.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsRunnerForm/ActionsRunnerForm.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/BucketConfigForm/BucketConfigForm.js
  src/routes/Projects/routes/Project/routes/Environments/components/AddEnvironmentDialog/AddEnvironmentDialog.js
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTableRow/PermissionsTableRow.js
  src/routes/Projects/routes/Project/routes/Permissions/components/RolesTableRow/RolesTableRow.js
  src/utils/firebaseFunctions.js
  yarn.lock
Due: Verify Functions, Build Staging

chore(ci): add ability to skip recording to Cypress Dashboard
  .github/workflows/app-verify.yml
Due: none

chore(ci): add ability to skip recording to Cypress Dashboard (#127)
  .github/workflows/app-verify.yml
Due: none

v0.9.12
  README.md
  cypress/integration/Project/Environments.spec.js
  package.json
  src/routes/Projects/routes/Project/routes/Environments/components/AddEnvironmentDialog/AddEnvironmentDialog.js
  src/routes/Projects/routes/Project/routes/Environments/components/EditEnvironmentDialog/EditEnvironmentDialog.js
  src/routes/Projects/routes/Project/routes/Environments/components/EnvironmentsPage/useEnvironmentsPage.js
  src/utils/form.js
  src/utils/index.js
  yarn.lock
Due: Build Staging

* feat(core): update to node12 \n * chore(deps): update docs dev dependencies
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
  README.md
  docs/data/siteConfig.js
  docs/package.json
  docs/yarn.lock
  functions/package.json
  functions/src/actionRunner/runSteps.ts
  functions/tsconfig.json
  package.json
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Update readme.
  README.md
Due: none

Add babel-eslint to docs package.json
  docs/.eslintrc.js
  docs/package.json
  package.json
  yarn.lock
Due: Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Remove unused code and add build timeouts
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
  functions/src/actionRunner/runSteps.ts
Due: Verify Functions

v0.10.0 (#128)
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
  README.md
  cypress/integration/Project/Environments.spec.js
  docs/.eslintrc.js
  docs/data/siteConfig.js
  docs/package.json
  docs/yarn.lock
  functions/package.json
  functions/src/actionRunner/runSteps.ts
  functions/tsconfig.json
  package.json
  src/routes/Projects/routes/Project/routes/Environments/components/AddEnvironmentDialog/AddEnvironmentDialog.js
  src/routes/Projects/routes/Project/routes/Environments/components/EditEnvironmentDialog/EditEnvironmentDialog.js
  src/routes/Projects/routes/Project/routes/Environments/components/EnvironmentsPage/useEnvironmentsPage.js
  src/utils/form.js
  src/utils/index.js
  yarn.lock
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

v0.10.1
  package.json
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/useActionsPage.js
  src/routes/Projects/routes/Project/routes/Environments/components/EnvironmentsPage/useEnvironmentsPage.js
Due: Build Staging

Start nx
  nx.json
  package.json
  tsconfig.json
  workspace.json
  yarn.lock
Due: Build Staging

v0.10.2
  .github/dependabot.yml
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
  package.json
  src/routes/Projects/routes/Project/routes/Permissions/components/NewMemberModal/useNewMemberModal.js
  src/routes/Projects/routes/Project/routes/Permissions/components/RolesTable/RolesTable.js
  yarn.lock
Due: Build Staging

Path conditions:
  Verify Functions: any of: functions/**/*, firebase.json, .gitlab-ci.yml
  Build Packages: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Packages: any of: packages/**/*, lerna.json, .gitlab-ci.yml
  Build Docs: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs Staging: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs Production: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Build Staging: any of: src/**/*, package.json, .eslintrc.js, firebase.json, .gitlab-ci.yml
