Repository prescottprue/fireadmin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Verify Functions, Build Packages, Deploy Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Verify Functions:
  stage: verify
  image: node:10
  allow_failure: true
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    paths:
    - functions/coverage
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  before_script:
  ...

Build Packages:
  stage: build
  image: node:8
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - packages/**/lib
    - packages/**/lib-esm
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  script:
  - yarn lint:packages
  - yarn build:packages

Deploy Packages:
  stage: deploy_production
  image: node:8
  when: on_success
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - packages/**/lib
    - packages/**/lib-esm
  dependencies:
  - Build Packages
  before_script:
  ...

Build Docs:
  stage: build
  image: node:10
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  before_script:
  - CYPRESS_INSTALL_BINARY=0 yarn install --frozen-lockfile --cache-folder .yarn
  ...

Deploy Docs Staging:
  stage: deploy_staging
  image: node:10
  when: on_success
  environment:
    name: docs-staging
    url: https://fireadmin-stage-docs.firebaseapp.com
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  dependencies:
  - Build Docs
  script:
  ...

Deploy Docs Production:
  stage: deploy_production
  image: node:10
  when: manual
  variables:
    FIREBASE_CI_PROJECT: prod
  environment:
    name: docs-production
    url: https://fireadmin-docs.firebaseapp.com
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  ...

Build Staging:
  stage: build
  image: node:10
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - dist
  script:
  - yarn build:config
  - yarn lint:app
  - yarn build
  - yarn size

Add mkdir
  .github/workflows/app-verify.yml
Due: none

Changed sendFcm
  functions/src/sendFcm/index.js
Due: Verify Functions

Comment out reupload
  .github/workflows/app-verify.yml
Due: none

Use script to parse diff to deploy command
  .github/workflows/app-verify.yml
  .gitignore
  functions/src/actionRunner/runAction.js
  functions/src/onUserOnlineStatusChange/index.js
  functions/src/sendFcm/index.js
  scripts/onlyChangedFunctions.js
  scripts/snapshotResolver.js
Due: Verify Functions

Check for package diff
  .github/workflows/app-verify.yml
Due: none

Add checking of package, lock, and index changes
  .github/workflows/app-verify.yml
  scripts/downloadFunctionsCache.js
  scripts/onlyChangedFunctions.js
  scripts/uploadFunctionsCache.js
  scripts/utils.js
Due: none

Add more logs
  .github/workflows/app-verify.yml
  scripts/uploadFunctionsCache.js
Due: none

Only reupload to cache if deploy command exists
  .github/workflows/app-verify.yml
Due: none

Change action runner
  .github/workflows/app-verify.yml
  functions/src/actionRunner/actions.js
Due: Verify Functions

Attempt to fix if blocks
  .github/workflows/app-verify.yml
Due: none

Another attempt to fix ifs
  .github/workflows/app-verify.yml
Due: none

Fix if statement for deploy
  .github/workflows/app-verify.yml
Due: none

Log diff of functions
  .github/workflows/app-verify.yml
Due: none

Fix upload command
  .github/workflows/app-verify.yml
Due: none

Only fcm change
  .github/workflows/app-verify.yml
  functions/src/sendFcm/index.js
Due: Verify Functions

Changed utils
  .github/workflows/app-verify.yml
  functions/src/utils/async.js
Due: Verify Functions

Top level file change
  functions/index.js
Due: Verify Functions

Add trimming to changed vars
  .github/workflows/app-verify.yml
Due: none

Try new deploy-changed-functions step
  .github/workflows/app-verify.yml
Due: none

Set local folder
  .github/workflows/app-verify.yml
Due: none

Skip spec files
  .github/workflows/app-verify.yml
Due: none

Try some changes
  .github/workflows/app-verify.yml
Due: none

Change firebase.json
  .github/workflows/app-verify.yml
  firebase.json
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

v0.9.7
  functions/src/actionRunner/runSteps.js
  functions/test/unit/cleanupProject.spec.js
  functions/test/unit/copyServiceAccountToFirestore.spec.js
  functions/test/unit/onUserOnlineStatusChange.spec.js
  package.json
  yarn.lock
Due: Verify Functions, Build Staging

fix(tests): use correct spy in sendFcm
  functions/src/utils/serviceAccounts.js
  functions/test/unit/sendFcm.spec.js
Due: Verify Functions

feat(functions): switch cloud functions to typescript
  functions/.eslintrc.js
  functions/package.json
  functions/src/actionRunner/actions.ts
  functions/src/actionRunner/constants.ts
  functions/src/actionRunner/index.ts
  functions/src/actionRunner/runAction.ts
  functions/src/actionRunner/runSteps.ts
  functions/src/actionRunner/utils.ts
  functions/src/callGoogleApi/callGoogleApi.ts
  functions/src/callGoogleApi/constants.ts
  functions/src/callGoogleApi/index.ts
  functions/src/cleanupProject/index.ts
  functions/src/copyServiceAccountToFirestore/index.ts
  functions/src/indexActionTemplates/index.ts
  functions/src/indexUser/index.ts
  functions/src/onUserOnlineStatusChange/index.ts
  functions/src/sendFcm/index.ts
  functions/src/utils/async.ts
  functions/src/utils/cloudStorage.ts
  functions/src/utils/encryption.ts
  functions/src/utils/firestore.ts
  functions/src/utils/index.ts
  functions/src/utils/rtdb.ts
  functions/src/utils/search.ts
  functions/src/utils/serviceAccounts.ts
  functions/tsconfig.json
  functions/yarn.lock
  package.json
  yarn.lock
Due: Verify Functions, Build Staging

Use import * for firebase-admin
  functions/src/actionRunner/runSteps.ts
Due: Verify Functions

Make functions tests typescript
  functions/.babelrc
  functions/.eslintrc.js
  functions/.mocharc.js
  functions/package.json
  functions/scripts/testSetup.ts
  functions/src/cleanupProject/index.ts
  functions/test/.eslintrc.js
  functions/test/mocha.opts
  functions/test/unit/actionRunner.spec.ts
  functions/test/unit/callGoogleApi.spec.ts
  functions/test/unit/cleanupProject.spec.ts
  functions/test/unit/copyServiceAccountToFirestore.spec.ts
  functions/test/unit/index.spec.ts
  functions/test/unit/indexActionTemplates.spec.ts
  functions/test/unit/indexUser.spec.ts
  functions/test/unit/onUserOnlineStatusChange.spec.js
  functions/test/unit/onUserOnlineStatusChange.spec.ts
  functions/test/unit/sendFcm.spec.ts
  functions/test/utils.ts
  functions/tsconfig.json
  functions/yarn.lock
Due: Verify Functions

Add NYC config
  functions/.nycrc
  functions/package.json
  functions/yarn.lock
Due: Verify Functions

Switch back to setup script
  functions/.eslintrc.js
  functions/.mocharc.js
  functions/package.json
  functions/scripts/testSetup.js
  functions/scripts/testSetup.ts
  functions/test/.eslintrc.js
  functions/test/unit/actionRunner.spec.ts
  functions/test/unit/onUserOnlineStatusChange.spec.ts
  functions/test/utils.ts
Due: Verify Functions

Improve typings
  functions/src/actionRunner/actions.ts
  functions/src/actionRunner/constants.ts
  functions/src/actionRunner/runAction.ts
  functions/src/actionRunner/runSteps.ts
  functions/src/actionRunner/types.ts
  functions/src/actionRunner/utils.ts
  functions/src/callGoogleApi/callGoogleApi.ts
  functions/src/cleanupProject/index.ts
  functions/src/copyServiceAccountToFirestore/index.ts
  functions/src/onUserOnlineStatusChange/index.ts
  functions/src/utils/cloudStorage.ts
  functions/src/utils/rtdb.ts
  functions/src/utils/serviceAccounts.ts
Due: Verify Functions

Add more types
  functions/src/actionRunner/actions.ts
  functions/src/actionRunner/types.ts
  functions/src/actionRunner/utils.ts
  functions/src/copyServiceAccountToFirestore/index.ts
  functions/src/onUserOnlineStatusChange/index.ts
  functions/src/sendFcm/index.ts
  functions/src/utils/async.ts
  functions/src/utils/cloudStorage.ts
  functions/src/utils/encryption.ts
  functions/src/utils/firestore.ts
Due: Verify Functions

Add test:emulate:run script
  package.json
Due: Build Staging

Add project-id and token inputs
  .github/workflows/app-verify.yml
Due: none

Add skip deploy
  .github/workflows/app-verify.yml
Due: none

Remove skip deploy
  .github/workflows/app-verify.yml
Due: none

Change sendFcm
  functions/src/sendFcm/index.js
Due: Verify Functions

Switch to improve branch for deploy-changed-functions
  .github/workflows/app-verify.yml
Due: none

Change sendFcm again
  functions/src/sendFcm/index.js
Due: Verify Functions

Change indexUser
  functions/src/indexUser/index.js
Due: Verify Functions

Path conditions:
  Verify Functions: any of: functions/**/*, firebase.json, .gitlab-ci.yml
  Build Packages: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Packages: any of: packages/**/*, lerna.json, .gitlab-ci.yml
  Build Docs: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs Staging: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs Production: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Build Staging: any of: src/**/*, package.json, .eslintrc.js, firebase.json, .gitlab-ci.yml
