Repository prescottprue/fireadmin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Verify Functions, Build Packages, Deploy Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Verify Functions:
  stage: verify
  image: node:10
  allow_failure: true
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    paths:
    - functions/coverage
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  before_script:
  ...

Build Packages:
  stage: build
  image: node:8
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - packages/**/lib
    - packages/**/lib-esm
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  script:
  - yarn lint:packages
  - yarn build:packages

Deploy Packages:
  stage: deploy_production
  image: node:8
  when: on_success
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - packages/**/lib
    - packages/**/lib-esm
  dependencies:
  - Build Packages
  before_script:
  ...

Build Docs:
  stage: build
  image: node:10
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  before_script:
  - CYPRESS_INSTALL_BINARY=0 yarn install --frozen-lockfile --cache-folder .yarn
  ...

Deploy Docs Staging:
  stage: deploy_staging
  image: node:10
  when: on_success
  environment:
    name: docs-staging
    url: https://fireadmin-stage-docs.firebaseapp.com
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  dependencies:
  - Build Docs
  script:
  ...

Deploy Docs Production:
  stage: deploy_production
  image: node:10
  when: manual
  variables:
    FIREBASE_CI_PROJECT: prod
  environment:
    name: docs-production
    url: https://fireadmin-docs.firebaseapp.com
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  ...

Build Staging:
  stage: build
  image: node:10
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - dist
  script:
  - yarn build:config
  - yarn lint:app
  - yarn build
  - yarn size

Add back install before calling
  .github/workflows/app-verify.yml
Due: none

Remove install to check npx
  .github/workflows/app-verify.yml
Due: none

Add back install again
  .github/workflows/app-verify.yml
Due: none

Skip install to test cypress binary
  .github/workflows/app-verify.yml
Due: none

Install binary separatley
  .github/workflows/app-verify.yml
Due: none

Use global add
  .github/workflows/app-verify.yml
Due: none

Switch order of global add
  .github/workflows/app-verify.yml
Due: none

Push change so that shebang win is kept
  .github/workflows/app-verify.yml
Due: none

Change index user again
  functions/src/indexUser/index.js
Due: Verify Functions

Change indexUser correctly
  functions/src/indexUser/index.js
Due: Verify Functions

Include global add of firebase-tools
  .github/workflows/app-verify.yml
Due: none

Switch back to normal install
  .github/workflows/app-verify.yml
Due: none

Switch to docker branch
  .github/workflows/app-verify.yml
Due: none

Switch back to firebase binary
  .github/workflows/app-verify.yml
Due: none

Add archiving of firepit-log.txt
  .github/workflows/app-verify.yml
Due: none

Commen in indexuser function
  functions/src/indexUser/index.js
Due: Verify Functions

One more change
  functions/src/indexUser/index.js
Due: Verify Functions

Changed utils
  functions/src/utils/async.js
Due: Verify Functions

Change utils again
  functions/src/utils/async.js
Due: Verify Functions

Change indexuser again
  functions/src/indexUser/index.js
Due: Verify Functions

Change again
  functions/src/indexUser/index.js
Due: Verify Functions

Changed value in indexUser
  functions/src/indexUser/index.js
Due: Verify Functions

Storage firebase debug log
  .github/workflows/app-verify.yml
Due: none

v0.9.8
  .github/workflows/app-deploy.yml
  package.json
  src/routes/Login/components/LoginPage/LoginPage.js
  yarn.lock
Due: Build Staging

Add login to action template page
  cypress/integration/ActionTemplates/ActionTemplatePage.spec.js
Due: none

chore(core): switch to REACT_APP env variables in place of src/config.js
  .env
  .env.local
  .firebaserc
  .github/workflows/app-verify.yml
  .gitignore
  README.md
  package.json
  src/components/AnalyticsPageViewLogger/AnalyticsPageViewLogger.js
  src/components/CollectionSearch/CollectionSearch.js
  src/components/SetupMessaging/SetupMessaging.js
  src/components/SetupMessaging/useSetupMessaging.js
  src/components/UsersSearch/UsersSearch.js
  src/containers/App/App.js
  src/index.js
  src/utils/analytics.js
  src/utils/errorHandler.js
  yarn.lock
Due: Build Staging

Move set env to later in the workflow
  .github/workflows/app-verify.yml
Due: none

Update yarn.lock
  yarn.lock
Due: none

Remove .env.local from git tracking
  .env.local
  src/components/SetupFirestore/SetupFirestore.js
Due: Build Staging

Log fb config
  .github/workflows/app-verify.yml
  cypress/support/commands.js
Due: none

Switch to console log over cylog
  cypress/support/commands.js
Due: none

Add log for firebase config
  .firebaserc
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  package.json
  src/containers/App/App.js
  yarn.lock
Due: Build Staging

Fix lint
  src/containers/App/App.js
Due: Build Staging

Fix syntax in verify workflow
  .github/workflows/app-verify.yml
Due: none

Fix config file name
  .github/workflows/app-verify.yml
Due: none

Fallback to default project in verify workflow
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
Due: none

Remove unnessesary http://
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
Due: none

Switch to manually setting createdBy and createdAt instead of using withMeta flag
  cypress/support/commands.js
Due: none

Path conditions:
  Verify Functions: any of: functions/**/*, firebase.json, .gitlab-ci.yml
  Build Packages: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Packages: any of: packages/**/*, lerna.json, .gitlab-ci.yml
  Build Docs: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs Staging: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs Production: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Build Staging: any of: src/**/*, package.json, .eslintrc.js, firebase.json, .gitlab-ci.yml
