Repository prescottprue/fireadmin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Functions Unit Tests, Build Docs, Build Functions, Build Staging

Path conditions:
  Functions Unit Tests: any of: functions/**/*, firebase.json, .gitlab-ci.yml
  Build Docs: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Build Functions: any of: functions/**/*, firebase.json, .gitlab-ci.yml
  Build Staging: any of: src/**/*, package.json, .eslintrc.js, firebase.json, .gitlab-ci.yml

Value classes
  packages/core/index.d.ts
  packages/core/package.json
  packages/core/src/Project/Project.ts
  packages/core/src/Project/ProjectValue.ts
  packages/core/src/User/User.ts
  packages/core/src/User/UserValue.ts
  packages/core/yarn.lock
Due: none

Add api and cli [ci skip]
  firebase.json
  functions/package.json
  functions/src/api/api.spec.js
  functions/src/api/index.js
  functions/src/api/routes/actionTemplates/index.js
  functions/src/api/routes/environments/index.js
  functions/yarn.lock
  packages/cli/bin/fireadmin-cli
  packages/cli/cmds/action.js
  packages/cli/cmds/index.js
  packages/cli/cmds/projects.js
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  packages/cli/types/index.d.ts
  packages/cli/yarn.lock
  yarn.lock
Due: Functions Unit Tests, Build Docs, Build Functions, Build Staging

Add lerna scripts to top level. Add inquirer for prompting user
  .eslintignore
  functions/test/unit/api.spec.js
  lerna.json
  package.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/utils/prompt.ts
  packages/cli/tsconfig.json
  packages/cli/types/index.d.ts
  packages/cli/types/utils/prompt.d.ts
  packages/cli/yarn.lock
  packages/core/package.json
  packages/core/src/Project.ts
  packages/core/src/constants/firestorePaths.ts
  packages/core/src/utils/prompt.ts
  packages/core/tsconfig.json
  packages/core/types/constants/firestorePaths.d.ts
  packages/core/types/utils/prompt.d.ts
  packages/core/yarn.lock
  src/routes/Project/components/ProjectPage/ProjectPage.enhancer.js
  yarn.lock
Due: Functions Unit Tests, Build Functions, Build Staging

Enable lint on packages folders
  .eslintignore
  package.json
  packages/cli/.eslintignore
  packages/cli/.eslintrc.js
  packages/cli/cmds/action.js
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/utils/prompt.ts
  packages/cli/types/index.d.ts
  packages/cli/types/utils/prompt.d.ts
  packages/cli/yarn.lock
  packages/core/.eslintignore
  packages/core/.eslintrc.js
  packages/core/package.json
  packages/core/src/Project.ts
  packages/core/src/constants/fbConfigs.ts
  packages/core/src/constants/firebasePaths.ts
  packages/core/src/initialize.ts
  packages/core/src/utils/firebase.ts
  packages/core/src/utils/prompt.ts
  packages/core/types/Project.d.ts
  packages/core/types/utils/firebase.d.ts
  packages/core/types/utils/prompt.d.ts
  packages/core/yarn.lock
Due: Build Staging

fireadmin-tools action loads location actions/migrations
  migrations/updateUsers/addNew.js
  migrations/updateUsers/settings.json
  package.json
  packages/cli/src/index.ts
  packages/fireadmin-tools/.eslintignore
  packages/fireadmin-tools/.eslintrc.js
  packages/fireadmin-tools/bin/fireadmin-cli
  packages/fireadmin-tools/cmds/action.js
  packages/fireadmin-tools/cmds/index.js
  packages/fireadmin-tools/cmds/projects.js
  packages/fireadmin-tools/package.json
  packages/fireadmin-tools/src/index.ts
  packages/fireadmin-tools/src/utils/async.ts
  packages/fireadmin-tools/src/utils/prompt.ts
  packages/fireadmin-tools/tsconfig.json
  packages/fireadmin-tools/types/index.d.ts
  packages/fireadmin-tools/types/utils/async.d.ts
  packages/fireadmin-tools/types/utils/prompt.d.ts
  packages/fireadmin-tools/yarn.lock
Due: Build Staging

Add projects environments to core lib
  packages/core/package.json
  packages/core/scripts/schemaToTypescript.ts
  packages/core/src/Project.ts
  packages/core/src/ProjectEnvironment.ts
  packages/core/src/Projects.ts
  packages/core/src/constants/firestorePaths.ts
  packages/core/src/schemas/ProjectEnvironment.json
  packages/core/src/types/ActionTemplate.ts
  packages/core/src/types/ProjectEnvironment.ts
  packages/core/src/types/User.ts
  packages/core/src/utils/firebase.ts
  packages/core/yarn.lock
Due: none

Add getEnvironments - causes a break
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/types/index.ts
  packages/core/types/Project.d.ts
  packages/core/types/ProjectEnvironment.d.ts
  packages/core/types/Projects.d.ts
  packages/core/types/constants/firestorePaths.d.ts
  packages/core/types/index.d.ts
  packages/core/types/types/ActionTemplate.d.ts
  packages/core/types/types/ProjectEnvironment.d.ts
  packages/core/types/types/index.d.ts
  packages/core/types/utils/firebase.d.ts
  packages/core/yarn.lock
  packages/fireadmin-tools/package.json
  packages/fireadmin-tools/src/actions.ts
  packages/fireadmin-tools/src/constants/filePaths.ts
  packages/fireadmin-tools/src/index.ts
  packages/fireadmin-tools/src/utils/files.ts
  packages/fireadmin-tools/src/utils/firebase.ts
  packages/fireadmin-tools/tsconfig.json
  packages/fireadmin-tools/types/constants/filePaths.d.ts
  packages/fireadmin-tools/types/index.d.ts
  packages/fireadmin-tools/types/utils/files.d.ts
  packages/fireadmin-tools/types/utils/firebase.d.ts
Due: none

Loading of projects list in CLI
  packages/core/package.json
  packages/core/src/Project.ts
  packages/core/src/ProjectEnvironment.ts
  packages/core/src/Projects.ts
  packages/core/src/User.ts
  packages/core/src/Users.ts
  packages/core/src/index.ts
  packages/core/src/utils/firebase.ts
  packages/core/types/Project.d.ts
  packages/core/types/Projects.d.ts
  packages/core/types/User.d.ts
  packages/core/types/Users.d.ts
  packages/core/types/index.d.ts
  packages/core/types/utils/firebase.d.ts
  packages/fireadmin-tools/cmds/action.js
  packages/fireadmin-tools/cmds/use.js
  packages/fireadmin-tools/package.json
  packages/fireadmin-tools/src/actions.ts
  packages/fireadmin-tools/src/utils/configstore.ts
  packages/fireadmin-tools/src/utils/firebase.ts
  packages/fireadmin-tools/tsconfig.json
  packages/fireadmin-tools/types/src/actions.d.ts
  packages/fireadmin-tools/types/src/constants/filePaths.d.ts
  packages/fireadmin-tools/types/src/index.d.ts
  packages/fireadmin-tools/types/src/utils/async.d.ts
  packages/fireadmin-tools/types/src/utils/configstore.d.ts
  packages/fireadmin-tools/types/src/utils/files.d.ts
  packages/fireadmin-tools/types/src/utils/firebase.d.ts
  packages/fireadmin-tools/types/src/utils/prompt.d.ts
  packages/fireadmin-tools/types/utils/configstore.d.ts
  packages/fireadmin-tools/yarn.lock
Due: none

Public actionTemplates loaded through API
  .gitlab-ci.yml
  functions/index.js
  functions/package.json
  functions/src/api/routes/actionTemplates/index.js
  functions/src/api/routes/environments/index.js
  functions/src/utils/firebaseFunctions.js
  functions/test/unit/api.spec.js
  functions/yarn.lock
  package.json
  packages/core/src/Action.ts
  packages/core/src/ActionRequest.ts
  packages/core/src/ActionTemplate.ts
  packages/core/src/ActionTemplates.ts
  packages/core/src/Projects.ts
  packages/core/src/Users.ts
  packages/core/src/connectors/RTDBItem.ts
  packages/core/src/index.ts
  packages/core/src/types/Action.ts
  packages/core/src/types/ActionRequest.ts
  packages/core/src/types/ActionTemplate.ts
  packages/core/src/types/index.ts
  packages/core/src/utils/firebase.ts
  packages/core/types/ActionRequest.d.ts
  packages/core/types/ActionTemplate.d.ts
  packages/core/types/ActionTemplates.d.ts
  packages/core/types/Projects.d.ts
  packages/core/types/Users.d.ts
  packages/core/types/connectors/RTDBItem.d.ts
  packages/core/types/index.d.ts
  packages/core/types/types/Action.d.ts
  packages/core/types/types/ActionRequest.d.ts
  packages/core/types/types/ActionTemplate.d.ts
  packages/core/types/types/index.d.ts
  packages/core/types/utils/firebase.d.ts
  packages/fireadmin-tools/src/utils/firebase.ts
Due: Functions Unit Tests, Build Docs, Build Functions, Build Staging

Add auth token generation [ci skip]
  functions/package.json
  functions/src/api/routes/projects/index.js
  functions/src/generateAuthToken/index.js
  functions/src/utils/firebaseFunctions.js
  functions/test/unit/generateAuthToken.spec.js
  functions/yarn.lock
  packages/core/package.json
  src/constants.js
  src/layouts/SidebarLayout/sidebarOptions.js
  src/routes/Project/index.js
  src/routes/Project/routes/Tokens/components/TokensPage/TokensPage.enhancer.js
  src/routes/Project/routes/Tokens/components/TokensPage/TokensPage.js
  src/routes/Project/routes/Tokens/components/TokensPage/TokensPage.styles.js
  src/routes/Project/routes/Tokens/components/TokensPage/index.js
  src/routes/Project/routes/Tokens/index.js
  src/store/createStore.js
Due: Functions Unit Tests, Build Functions, Build Staging

Add login command to firebase-tools [ci skip]
  functions/src/generateAuthToken/index.js
  functions/src/utils/firebaseFunctions.js
  packages/core/src/ActionRequest.ts
  packages/core/types/Action.d.ts
  packages/fireadmin-tools/cmds/index.js
  packages/fireadmin-tools/cmds/login.js
  packages/fireadmin-tools/src/actions.ts
  packages/fireadmin-tools/src/auth.ts
  packages/fireadmin-tools/src/index.ts
  packages/fireadmin-tools/src/utils/firebase.ts
  packages/fireadmin-tools/tsconfig.json
  packages/fireadmin-tools/types/auth.d.ts
  packages/fireadmin-tools/types/index.d.ts
  packages/fireadmin-tools/types/utils/firebase.d.ts
  src/routes/Project/routes/Tokens/components/TokensPage/TokensPage.enhancer.js
  src/routes/Project/routes/Tokens/components/TokensPage/TokensPage.js
Due: Functions Unit Tests, Build Functions, Build Staging

Token generation styling [ci skip]
  packages/core/src/Projects.ts
  packages/core/src/index.ts
  packages/core/src/utils/firebase.ts
  packages/core/types/index.d.ts
  packages/core/types/utils/firebase.d.ts
  packages/fireadmin-tools/src/auth.ts
  src/routes/Project/routes/Tokens/components/TokensPage/TokensPage.enhancer.js
  src/routes/Project/routes/Tokens/components/TokensPage/TokensPage.js
  src/routes/Project/routes/Tokens/components/TokensPage/TokensPage.styles.js
  src/utils/browser.js
Due: Build Staging

Add generateApiToken function which generates UUIDs [ci skip]
  functions/package.json
  functions/src/generateApiToken/index.js
  functions/test/unit/generateApiToken.spec.js
  src/routes/Project/routes/Tokens/components/TokensPage/TokensPage.enhancer.js
  src/routes/Project/routes/Tokens/components/TokensPage/TokensPage.js
  src/routes/Project/routes/Tokens/components/TokensPage/TokensPage.styles.js
Due: Functions Unit Tests, Build Functions, Build Staging

generateAuthToken added to convert API Token to auth token [ci skip]
  functions/src/generateApiToken/index.js
  functions/src/generateAuthToken/index.js
  functions/src/utils/firebaseFunctions.js
  src/routes/Project/routes/Tokens/components/TokensPage/TokensPage.js
  src/utils/formatters.js
Due: Functions Unit Tests, Build Functions, Build Staging

Switch to apiKeys instead of tokens. Copy schemas in core build [ci skip]
  firestore.rules
  functions/src/generateApiKey/index.js
  functions/test/unit/generateApiKey.spec.js
  packages/core/.eslintignore
  packages/core/package.json
  packages/core/src/User.ts
  packages/core/src/auth.ts
  packages/core/src/constants/firestorePaths.ts
  packages/core/src/index.ts
  packages/core/src/utils/firebase.ts
  packages/core/src/utils/validation.ts
  packages/core/types/User.d.ts
  packages/core/types/auth.d.ts
  packages/core/types/constants/firestorePaths.d.ts
  packages/core/types/index.d.ts
  packages/core/types/utils/firebase.d.ts
  packages/fireadmin-tools/src/auth.ts
  src/layouts/SidebarLayout/sidebarOptions.js
  src/routes/Account/components/AccountForm/AccountForm.js
  src/routes/Account/components/AccountPage/AccountPage.js
  src/routes/Account/components/AccountPage/AccountPage.scss
  src/routes/Account/components/ApiKeysSection/ApiKeysSection.enhancer.js
  src/routes/Account/components/ApiKeysSection/ApiKeysSection.js
  src/routes/Account/components/ApiKeysSection/ApiKeysSection.styles.js
  src/routes/Account/components/ApiKeysSection/index.js
  src/routes/Project/index.js
  src/routes/Project/routes/Tokens/components/TokensPage/TokensPage.enhancer.js
  src/routes/Project/routes/Tokens/components/TokensPage/index.js
  src/routes/Project/routes/Tokens/index.js
  src/store/createStore.js
Due: Functions Unit Tests, Build Functions, Build Staging

More fixes to loginWithApiKey [ci skip]
  functions/package.json
  functions/src/api/routes/environments/index.js
  functions/src/api/routes/projects/index.js
  functions/src/generateApiKey/index.js
  functions/src/generateAuthToken/index.js
  functions/src/utils/environments.js
  functions/src/utils/firebaseFunctions.js
  functions/src/utils/firestore.js
  functions/yarn.lock
  packages/core/package.json
  packages/core/src/auth.ts
  packages/core/src/utils/firebase.ts
  packages/core/types/auth.d.ts
  packages/core/yarn.lock
  packages/fireadmin-tools/package.json
  packages/fireadmin-tools/src/auth.ts
Due: Functions Unit Tests, Build Functions

API Request validation
  functions/src/api/index.js
  functions/src/generateAuthToken/index.js
  functions/src/utils/firebaseFunctions.js
  functions/yarn.lock
  packages/core/src/utils/firebase.ts
Due: Functions Unit Tests, Build Functions

Update lodash to 4.17.15, cypress to 3.4.1 and cypress-firebase to 0.2.3
  functions/package.json
  functions/yarn.lock
  package.json
  yarn.lock
Due: Functions Unit Tests, Build Functions, Build Staging

Update gitlab settings
  .gitlab-ci.yml
Due: Functions Unit Tests, Build Docs, Build Functions, Build Staging

Update node to v10 in gitlab settings
  .gitlab-ci.yml
Due: Functions Unit Tests, Build Docs, Build Functions, Build Staging

Cleanup lint in packages
  packages/core/.eslintrc.js
  packages/core/package.json
  packages/core/src/ActionRequest.ts
  packages/core/src/ActionTemplate.ts
  packages/core/src/ActionTemplates.ts
  packages/core/src/DisplayName.ts
  packages/core/src/DisplayNames.ts
  packages/core/src/Project.ts
  packages/core/src/ProjectEnvironment.ts
  packages/core/src/Projects.ts
  packages/core/src/User.ts
  packages/core/src/Users.ts
  packages/core/src/auth.ts
  packages/core/src/index.ts
  packages/core/yarn.lock
  packages/fireadmin-tools/.eslintrc.js
  packages/fireadmin-tools/src/actions.ts
  packages/fireadmin-tools/src/auth.ts
  packages/fireadmin-tools/src/constants/filePaths.ts
  packages/fireadmin-tools/src/index.ts
  packages/fireadmin-tools/src/utils/async.ts
  packages/fireadmin-tools/src/utils/configstore.ts
  packages/fireadmin-tools/src/utils/files.ts
  packages/fireadmin-tools/src/utils/firebase.ts
Due: none

Update version [ci skip]
  package.json
Due: Build Staging

Update UI tests node version [ci skip]
  .gitlab-ci.yml
Due: Functions Unit Tests, Build Docs, Build Functions, Build Staging

v0.8.8 (#89)
  .gitlab-ci.yml
  functions/package.json
  functions/yarn.lock
  package.json
  yarn.lock
Due: Functions Unit Tests, Build Docs, Build Functions, Build Staging

Update library versions
  package.json
  packages/core/package.json
  packages/core/src/User.ts
  packages/core/src/Users.ts
  packages/core/types/ActionRequest.d.ts
  packages/core/types/Projects.d.ts
  packages/core/types/User.d.ts
  packages/core/types/Users.d.ts
  packages/core/yarn.lock
  packages/fireadmin-tools/package.json
  packages/fireadmin-tools/types/utils/configstore.d.ts
  packages/fireadmin-tools/yarn.lock
  yarn.lock
Due: Build Staging

Cleanup of comments [ci skip]
  firestore.rules
  functions/.eslintrc.js
  functions/package.json
  functions/src/actionRunner/actions.js
  functions/src/actionRunner/runAction.js
  functions/src/actionRunner/runSteps.js
  functions/src/actionRunner/utils.js
  functions/src/callGoogleApi/callGoogleApi.js
  functions/src/cleanupProject/index.js
  functions/src/copyServiceAccountToFirestore/index.js
  functions/src/generateApiKey/index.js
  functions/src/onUserOnlineStatusChange/index.js
  functions/src/sendFcm/index.js
  functions/src/utils/async.js
  functions/src/utils/cloudStorage.js
  functions/src/utils/encryption.js
  functions/src/utils/environments.js
  functions/src/utils/firebaseFunctions.js
  functions/src/utils/firestore.js
  functions/src/utils/index.js
  functions/src/utils/rtdb.js
  functions/src/utils/search.js
  functions/src/utils/serviceAccounts.js
  functions/test/unit/actionRunner.spec.js
  functions/test/unit/callGoogleApi.spec.js
  functions/yarn.lock
Due: Functions Unit Tests, Build Functions

Remove unnused code. Add install-only [skip-verify, skip-build]
  .gitlab-ci.yml
  build/install-only.js
  functions/src/utils/firebaseFunctions.js
  functions/src/utils/index.js
  migrations/updateUsers/addNew.js
  migrations/updateUsers/settings.json
Due: Functions Unit Tests, Build Docs, Build Functions, Build Staging

Add lodash and try only production [skip-verify, skip-build]
  .gitlab-ci.yml
  build/install-only.js
Due: Functions Unit Tests, Build Docs, Build Functions, Build Staging

Add support for TEST_ENV and TEST_SPECS environment variables
  .gitlab-ci.yml
Due: Functions Unit Tests, Build Docs, Build Functions, Build Staging

v0.8.8 (actual)
  .gitlab-ci.yml
  package.json
  yarn.lock
Due: Functions Unit Tests, Build Docs, Build Functions, Build Staging

Target node 10 for babel building [ci skip]
  .babelrc
  .gitlab-ci.yml
  Dockerfile
  build/.babelrc
  cypress/Dockerfile
  functions/.babelrc
  package.json
  packages/core/src/utils/firebase.ts
Due: Functions Unit Tests, Build Docs, Build Functions, Build Staging

Fix lint issues
  cypress/integration/Project/Environments.spec.js
  docs/src/components/HomePage/HomePage.enhancer.js
  package.json
  src/containers/Navbar/Navbar.enhancer.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.js
  src/routes/ActionTemplate/components/ActionTemplatePage/ActionTemplatePage.enhancer.js
  src/routes/Project/components/ProjectPage/ProjectPage.js
  src/routes/Project/routes/Actions/components/ActionRunnerForm/ActionRunnerForm.js
  src/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.handlers.js
  src/routes/Projects/components/ProjectTile/ProjectTile.js
  src/routes/Projects/components/ProjectTile/ProjectTile.styles.js
  src/routes/Projects/components/ProjectsPage/ProjectsPage.js
  src/routes/Signup/components/SignupPage/SignupPage.enhancer.js
  src/store/createStore.js
  src/store/reducers.js
Due: Build Docs, Build Staging

Fix withRouter references
  .gitlab-ci.yml
  package.json
  src/constants/formNames.js
  src/layouts/SidebarLayout/SidebarList.enhnacer.js
  src/routes/ActionTemplate/components/ActionEditor/ActionEditor.enhancer.js
  src/routes/ActionTemplate/components/ActionEditor/ActionEditor.utils.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.enhancer.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.js
  src/routes/ActionTemplate/components/ActionTemplatePage/ActionTemplatePage.enhancer.js
  src/routes/ActionTemplates/components/ActionTemplatesList/ActionTemplatesList.enhancer.js
  yarn.lock
Due: Functions Unit Tests, Build Docs, Build Functions, Build Staging

Add logic for looking up environments based on key instead of requiring credentials (to support cli usage)
  functions/src/actionRunner/runSteps.js
  functions/src/utils/environments.js
  functions/src/utils/rtdb.js
  functions/src/utils/serviceAccounts.js
  packages/core/src/types/ProjectEnvironment.ts
  packages/core/types/types/ProjectEnvironment.d.ts
  packages/fireadmin-tools/src/actions.ts
Due: Functions Unit Tests, Build Functions

Custom action successfully running from CLI
  functions/package.json
  functions/src/actionRunner/runCustomAction.js
  functions/src/actionRunner/runSteps.js
  functions/src/actionRunner/utils.js
  functions/src/environmentDataTool/index.js
  functions/src/utils/environments.js
  functions/src/utils/serviceAccounts.js
  functions/test/unit/environmentDataTool.spec.js
  functions/yarn.lock
  migrations/updateUsers/addNew.js
  packages/core/package.json
  packages/core/src/ActionRequest.ts
  packages/core/src/ActionRequests.ts
  packages/core/src/ActionTemplate.ts
  packages/core/src/ActionTemplates.ts
  packages/core/src/ProjectEnvironment.ts
  packages/core/src/Projects.ts
  packages/core/src/auth.ts
  packages/core/src/utils/firebase.ts
  packages/core/types/ActionRequest.d.ts
  packages/core/types/ProjectEnvironment.d.ts
  packages/core/types/utils/firebase.d.ts
  packages/core/yarn.lock
  packages/fireadmin-tools/src/actions.ts
Due: Functions Unit Tests, Build Functions

Start Data viewer - #91
  functions/src/environmentDataViewer/index.js
  functions/test/unit/environmentDataViewer.spec.js
  src/constants.js
  src/routes/ActionTemplate/components/ActionTemplateBackups/ActionTemplateBackups.js
  src/routes/Project/index.js
  src/routes/Project/routes/DataViewer/components/DataViewerPage/DataViewerPage.enhancer.js
  src/routes/Project/routes/DataViewer/components/DataViewerPage/DataViewerPage.js
  src/routes/Project/routes/DataViewer/components/DataViewerPage/DataViewerPage.styles.js
  src/routes/Project/routes/DataViewer/components/DataViewerPage/index.js
  src/routes/Project/routes/DataViewer/components/DataViewerSetupForm/DataViewerSetupForm.enhancer.js
  src/routes/Project/routes/DataViewer/components/DataViewerSetupForm/DataViewerSetupForm.js
  src/routes/Project/routes/DataViewer/components/DataViewerSetupForm/DataViewerSetupForm.styles.js
  src/routes/Project/routes/DataViewer/components/DataViewerSetupForm/index.js
  src/routes/Project/routes/DataViewer/index.js
Due: Functions Unit Tests, Build Functions, Build Staging
