Repository prescottprue/fireadmin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Verify Functions, Build Packages, Deploy Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Verify Functions:
  stage: verify
  image: node:10
  allow_failure: true
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    paths:
    - functions/coverage
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  before_script:
  ...

Build Packages:
  stage: build
  image: node:8
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - packages/**/lib
    - packages/**/lib-esm
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  script:
  - yarn lint:packages
  - yarn build:packages

Deploy Packages:
  stage: deploy_production
  image: node:8
  when: on_success
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - packages/**/lib
    - packages/**/lib-esm
  dependencies:
  - Build Packages
  before_script:
  ...

Build Docs:
  stage: build
  image: node:10
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  before_script:
  - CYPRESS_INSTALL_BINARY=0 yarn install --frozen-lockfile --cache-folder .yarn
  ...

Deploy Docs Staging:
  stage: deploy_staging
  image: node:10
  when: on_success
  environment:
    name: docs-staging
    url: https://fireadmin-stage-docs.firebaseapp.com
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  dependencies:
  - Build Docs
  script:
  ...

Deploy Docs Production:
  stage: deploy_production
  image: node:10
  when: manual
  variables:
    FIREBASE_CI_PROJECT: prod
  environment:
    name: docs-production
    url: https://fireadmin-docs.firebaseapp.com
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  ...

Build Staging:
  stage: build
  image: node:10
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - dist
  script:
  - yarn build:config
  - yarn lint:app
  - yarn build
  - yarn size

v0.8.15 (#97)
  .babelrc
  .env.local
  .firebaserc
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
  README.md
  cypress.json
  cypress/integration/Project/ActionRunner.spec.js
  cypress/integration/Project/Events.spec.js
  cypress/integration/ProjectsPage.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  firebase.json
  functions/.gitignore
  package.json
  src/modules/notification/components/withNotifications.js
  src/routes/ActionTemplates/components/ActionTemplatesList/ActionTemplatesList.enhancer.js
  src/routes/Projects/components/NewProjectDialog/NewProjectDialog.js
  src/routes/Projects/components/NewProjectTile/NewProjectTile.js
  src/routes/Projects/components/ProjectTile/ProjectTile.js
  src/routes/Projects/routes/Project/routes/Actions/components/PrivateActionTemplates/PrivateActionTemplates.enhancer.js
  src/routes/Projects/routes/Project/routes/Environments/components/EditEnvironmentDialog/EditEnvironmentDialog.enhancer.js
  src/routes/Projects/routes/Project/routes/ProjectEvents/components/EventsTable/EventsTable.js
  src/routes/Projects/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.enhancer.js
  src/selectors/projectSelectors.js
  src/store/createStore.js
  src/utils/components.js
  src/utils/formatters.js
  src/utils/messaging.js
  yarn.lock
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

fix(ci): switch to env variables for enabling testing after deploy
  .github/workflows/app-deploy.yml
Due: none

fix(ci): comment out tests after deployment
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
Due: none

fix(ci): add prod branch setting to deploy workflow
  .github/workflows/app-deploy.yml
  .github/workflows/docs-deploy.yml
  README.md
  functions/.babelrc
  functions/package.json
  functions/yarn.lock
Due: Verify Functions

Update cypress-firebase to v1.0.0-beta
  .github/workflows/app-verify.yml
  package.json
  yarn.lock
Due: Build Staging

Update cypress-firebase again
  package.json
  yarn.lock
Due: Build Staging

updated cypress-firebase again
  package.json
  yarn.lock
Due: Build Staging

Check for null instead of empty array after delete
  cypress/integration/Project/Environments.spec.js
Due: none

chore(deps): update cypress-firebase to v1.0.0-beta (#100)
  .github/workflows/app-verify.yml
  cypress/integration/Project/Environments.spec.js
  package.json
  yarn.lock
Due: Build Staging

Switch version back
  package.json
Due: Build Staging

Fix lint command in docs build
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
Due: none

Fix eslint within docs
  docs/.eslintrc.js
  docs/package.json
  docs/yarn.lock
Due: Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production

Update docs content to match recent updates
  docs/content/guides/initial-setup.md
  docs/content/source/adding-a-feature.md
  docs/content/source/file-structure.md
  docs/content/testing/cloud-functions-tests.md
  docs/content/testing/ui-tests.md
  docs/gatsby-config.js
  docs/package.json
  docs/src/components/Commons.js
  docs/src/components/PrevNextPost/PrevNextPost.js
  docs/src/components/RelatedPosts/RelatedPosts.js
  docs/src/components/SidebarItem/SidebarItem.enhancer.js
  docs/src/components/SidebarItem/SidebarItem.js
  docs/src/components/SidebarItem/index.js
  docs/src/pages/404.js
  docs/yarn.lock
Due: Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production

Add reactfire and react-hook-form. Remove redux-form from AccountForm
  package.json
  src/constants/formNames.js
  src/containers/App/App.js
  src/routes/Account/components/AccountEditor/AccountEditor.js
  src/routes/Account/components/AccountEditor/AccountEditor.styles.js
  src/routes/Account/components/AccountEditor/index.js
  src/routes/Account/components/AccountForm/AccountForm.enhancer.js
  src/routes/Account/components/AccountForm/AccountForm.js
  src/routes/Account/components/AccountForm/index.js
  src/routes/Account/components/AccountPage/AccountPage.js
  src/routes/Account/components/AccountPage/index.js
  yarn.lock
Due: Build Staging

Switch NewProjectDialog. Write tests for Project Permissions page
  cypress/integration/Project/Events.spec.js
  cypress/integration/Project/Permissions.spec.js
  package.json
  src/routes/Account/components/AccountForm/AccountForm.js
  src/routes/Account/components/AccountPage/index.js
  src/routes/Projects/components/NewProjectDialog/NewProjectDialog.enhancer.js
  src/routes/Projects/components/NewProjectDialog/NewProjectDialog.js
  src/routes/Projects/components/NewProjectDialog/index.js
  src/routes/Projects/routes/Project/routes/Permissions/components/DeleteMemberModal/DeleteMemberModal.js
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTableRow/PermissionsTableRow.js
  src/routes/Projects/routes/Project/routes/Permissions/components/RolesTable/RolesTable.enhancer.js
  src/routes/Projects/routes/Project/routes/Permissions/components/RolesTable/RolesTable.js
  src/routes/Projects/routes/Project/routes/Permissions/components/RolesTableRow/RolesTableRow.js
  yarn.lock
Due: Build Staging

Update AddEnvironmentDialog to use react-hook-form
  functions/.mocharc.js
  functions/mocha.opts
  src/constants/formNames.js
  src/routes/Account/components/AccountEditor/AccountEditor.js
  src/routes/Account/components/AccountPage/AccountPage.enhancer.js
  src/routes/Projects/routes/Project/components/OverviewPanel/OverviewPanel.enhancer.js
  src/routes/Projects/routes/Project/components/OverviewPanel/OverviewPanel.js
  src/routes/Projects/routes/Project/components/ProjectPage/ProjectPage.enhancer.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/BucketConfigForm/BucketConfigForm.enhancer.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/BucketConfigForm/BucketConfigForm.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/BucketConfigPage/BucketConfigPage.enhancer.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/BucketConfigPage/BucketConfigPage.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/CorsList/CorsList.enhancer.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/CorsList/CorsList.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/CorsList/index.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/CorsOriginList/CorsOriginList.enhancer.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/CorsOriginList/CorsOriginList.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/CorsOriginList/index.js
  src/routes/Projects/routes/Project/routes/Environments/components/AddEnvironmentDialog/AddEnvironmentDialog.enhancer.js
  src/routes/Projects/routes/Project/routes/Environments/components/AddEnvironmentDialog/AddEnvironmentDialog.js
  src/routes/Projects/routes/Project/routes/Environments/components/AddEnvironmentDialog/index.js
  src/routes/Projects/routes/Project/routes/Environments/components/EditEnvironmentDialog/EditEnvironmentDialog.enhancer.js
  src/routes/Projects/routes/Project/routes/Environments/components/EditEnvironmentDialog/EditEnvironmentDialog.js
  src/routes/Projects/routes/Project/routes/Environments/components/EnvironmentsPage/EnvironmentsPage.enhancer.js
  src/routes/Projects/routes/Project/routes/Environments/components/EnvironmentsPage/EnvironmentsPage.handlers.js
  src/routes/Projects/routes/Project/routes/Environments/components/EnvironmentsPage/EnvironmentsPage.js
Due: Verify Functions, Build Staging

Remove all redux dependencies
  package.json
  src/containers/App/App.js
  src/index.js
  src/routes/Account/components/AccountPage/AccountPage.enhancer.js
  src/routes/Account/index.js
  src/routes/ActionTemplate/components/ActionTemplatePage/ActionTemplatePage.js
  src/routes/ActionTemplates/components/ActionTemplatesList/ActionTemplatesList.js
  src/routes/ActionTemplates/components/ActionTemplatesPage/ActionTemplatesPage.enhancer.js
  src/routes/ActionTemplates/components/ActionTemplatesPage/index.js
  src/routes/ActionTemplates/index.js
  src/routes/Login/components/LoginPage/LoginPage.enhancer.js
  src/routes/Login/components/LoginPage/LoginPage.js
  src/routes/Login/components/LoginPage/index.js
  src/routes/Projects/components/ProjectsPage/ProjectsPage.enhancer.js
  src/routes/Projects/components/ProjectsPage/ProjectsPage.js
  src/routes/Projects/components/ProjectsPage/index.js
  src/routes/Projects/index.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/useActionsPage.js
  src/routes/Projects/routes/Project/routes/Actions/components/PrivateActionTemplates/PrivateActionTemplates.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/BucketConfigForm/BucketConfigForm.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/CorsList/CorsList.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/CorsOriginList/CorsOriginList.js
  src/routes/Projects/routes/Project/routes/Environments/components/EnvironmentsPage/EnvironmentsPage.js
  src/routes/Projects/routes/Project/routes/Permissions/components/RolesTable/RolesTable.js
  src/routes/index.js
  src/store/createStore.js
  src/store/location.js
  src/store/reducers.js
  src/utils/messaging.js
  src/utils/router.js
  yarn.lock
Due: Build Staging

Add template not found handling. Fix project add/delete
  src/constants/firebasePaths.js
  src/containers/App/App.js
  src/modules/notification/Notifications.js
  src/modules/notification/NotificationsProvider.js
  src/modules/notification/actions.js
  src/modules/notification/index.js
  src/modules/notification/reducer.js
  src/modules/notification/useNotifications.js
  src/routes/ActionTemplate/components/ActionTemplatePage/ActionTemplatePage.js
  src/routes/ActionTemplates/components/ActionTemplateListCard/ActionTemplateListCard.js
  src/routes/ActionTemplates/components/ActionTemplatesList/ActionTemplatesList.js
  src/routes/ActionTemplates/components/NewActionTemplateDialog/NewActionTemplateDialog.js
  src/routes/Projects/components/ProjectTile/ProjectTile.js
  src/routes/Projects/components/ProjectsPage/ProjectsPage.js
  src/routes/Projects/components/SharingDialog/SharingDialog.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/BucketConfigForm/BucketConfigForm.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/CorsList/CorsList.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/CorsOriginList/CorsOriginList.js
  src/routes/Projects/routes/Project/routes/Environments/components/EnvironmentsPage/EnvironmentsPage.js
  src/routes/Projects/routes/Project/routes/Environments/components/EnvironmentsPage/useEnvironmentsPage.js
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTableRow/PermissionsTableRow.js
  src/utils/components.js
Due: Build Staging

Fix environment selects. Fix login redirect error. Remove outlined field components
  .yo-rc.json
  package.json
  src/components/OutlinedSelect/OutlinedSelect.js
  src/components/OutlinedSelect/OutlinedSelect.styles.js
  src/components/OutlinedSelect/index.js
  src/components/OutlinedTextField/OutlinedTextField.js
  src/components/OutlinedTextField/OutlinedTextField.styles.js
  src/components/OutlinedTextField/index.js
  src/containers/Navbar/AccountMenu.js
  src/routes/Login/components/LoginPage/LoginPage.js
  src/routes/Projects/components/ProjectsList/ProjectsList.js
  src/routes/Projects/components/ProjectsList/ProjectsList.styles.js
  src/routes/Projects/components/ProjectsList/index.js
  src/routes/Projects/components/ProjectsPage/ProjectsPage.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.js
  src/routes/Projects/routes/Project/routes/Actions/components/StepsViewer/StepsViewer.js
  src/utils/router.js
  yarn.lock
Due: Build Staging

FIx emulator support and add messaging component
  cypress/integration/Project/ActionRunner.spec.js
  src/components/SetupFirestore/SetupFirestore.js
  src/components/SetupFirestore/index.js
  src/components/SetupMessaging/SetupMessaging.js
  src/components/SetupMessaging/index.js
  src/components/SetupMessaging/useSetupMessaging.js
  src/constants/firebasePaths.js
  src/containers/App/App.js
  src/layouts/CoreLayout/CoreLayout.js
  src/routes/Projects/routes/Project/components/ProjectPage/ProjectPage.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.js
  src/utils/index.js
  src/utils/messaging.js
Due: Build Staging

Switch to standard linting.
  .eslintrc.js
  functions/src/utils/encryption.js
  functions/src/utils/rtdb.js
  functions/test/unit/callGoogleApi.spec.js
  package.json
  public/firebase-messaging-sw.js
  scripts/snapshotResolver.js
  src/components/SetupMessaging/useSetupMessaging.js
  src/components/UsersSearch/UsersSearch.js
  src/components/VersionChangeReloader/index.js
  src/routes/Account/components/AccountEditor/AccountEditor.js
  src/routes/Account/components/AccountForm/AccountForm.js
  src/routes/ActionTemplate/components/ActionEditor/ActionEditor.js
  src/routes/ActionTemplate/components/ActionStepLocation/ActionStepLocation.js
  src/routes/ActionTemplate/components/ActionTemplateBackups/ActionTemplateBackups.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.js
  src/routes/ActionTemplate/components/ActionTemplateStep/ActionTemplateStep.js
  src/routes/ActionTemplates/components/ActionTemplateListCard/ActionTemplateListCard.js
  src/routes/ActionTemplates/components/NewActionTemplateDialog/NewActionTemplateDialog.js
  src/routes/Projects/components/ProjectTile/ProjectTile.js
  src/routes/Projects/components/SharingDialog/SharingDialog.js
  src/routes/Projects/routes/Project/components/ProjectPage/ProjectPage.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.js
  src/routes/Projects/routes/Project/routes/Actions/components/PrivateActionTemplates/PrivateActionTemplates.js
  src/routes/Projects/routes/Project/routes/Actions/components/RecentActions/RecentActions.js
  src/routes/Projects/routes/Project/routes/Actions/components/StepsViewer/StepsViewer.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/BucketConfigForm/BucketConfigForm.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/CorsOriginList/CorsOriginList.js
  src/routes/Projects/routes/Project/routes/Environments/components/AddEnvironmentDialog/AddEnvironmentDialog.js
  src/routes/Projects/routes/Project/routes/Environments/components/Instance/Instance.js
  src/routes/Projects/routes/Project/routes/Permissions/components/DeleteMemberModal/DeleteMemberModal.js
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTableRow/PermissionsTableRow.js
  src/routes/Projects/routes/Project/routes/Permissions/components/RolesTableRow/RolesTableRow.js
  src/routes/Projects/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.js
  src/theme.js
  src/utils/components.js
  yarn.lock
Due: Verify Functions, Build Staging

Fix new projects test and environments tests
  cypress/integration/Project/Environments.spec.js
  cypress/integration/ProjectsPage.spec.js
  src/routes/Account/components/AccountEditor/AccountEditor.js
  src/routes/Projects/components/NewProjectDialog/NewProjectDialog.js
  src/routes/Projects/routes/Project/routes/Permissions/components/NewMemberModal/NewMemberModal.js
Due: Build Staging

Error boundary and PROJECT_COLLECTION path
  README.md
  src/containers/App/App.js
  src/routes/Projects/routes/Project/routes/Environments/components/EnvironmentsPage/useEnvironmentsPage.js
  src/routes/Projects/routes/Project/routes/Permissions/components/NewMemberModal/NewMemberModal.js
  src/routes/Projects/routes/Project/routes/Permissions/components/Permissions/Permissions.js
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTable/PermissionsTable.js
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTableRow/PermissionsTableRow.js
  src/routes/Projects/routes/Project/routes/Permissions/components/RolesTable/RolesTable.js
  src/routes/Projects/routes/Project/routes/Permissions/components/RolesTableRow/RolesTableRow.js
  src/routes/Projects/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.js
  src/utils/data.js
Due: Build Staging

Fix permissions tests and update deps
  cypress/integration/Project/Permissions.spec.js
  package.json
  yarn.lock
Due: Build Staging

fix(actionRunner): fix issue with subcollection copy
  functions/src/actionRunner/utils.js
  functions/src/cleanupProject/index.js
  functions/src/utils/async.js
Due: Verify Functions

fix(actionRunner): fix issue with subcollection copy (#105)
  functions/src/actionRunner/utils.js
  functions/src/cleanupProject/index.js
  functions/src/utils/async.js
Due: Verify Functions

v0.8.16
  .github/workflows/app-deploy.yml
  package.json
Due: Build Staging

Fix action create
  src/constants/firebasePaths.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/useActionsPage.js
  src/routes/Projects/routes/Project/routes/Actions/components/RecentActions/RecentActions.js
  src/routes/Projects/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/NoProjectEvents.js
  src/routes/Projects/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.js
  src/routes/Projects/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.styles.js
Due: Build Staging

Do not enable FCM if in cypress tests. Add waits to permissions tests
  cypress/integration/Project/Permissions.spec.js
  functions/yarn.lock
  package.json
  src/components/CollectionSearch/CollectionSearch.js
  src/components/CollectionSearch/SearchResults.js
  src/components/SetupFirestore/SetupFirestore.js
  src/components/SetupMessaging/SetupMessaging.js
  src/components/UsersSearch/ResultsList.js
  src/components/UsersSearch/SearchResults.js
  yarn.lock
Due: Verify Functions, Build Staging

Replace contents of functions/yarn.lock to fix timeouts in functions tests
  .github/workflows/app-verify.yml
  functions/package.json
  functions/yarn.lock
  src/constants/analytics.js
Due: Verify Functions, Build Staging

Remove firebase-mock from functions devDependencies (not used)
  functions/package.json
  functions/yarn.lock
Due: Verify Functions

Fix edit environment dialog. Add JSDoc eslint plugin for functions.
  functions/.eslintrc.js
  functions/package.json
  functions/scripts/testSetup.js
  functions/src/actionRunner/actions.js
  functions/src/actionRunner/runAction.js
  functions/src/actionRunner/runSteps.js
  functions/src/actionRunner/utils.js
  functions/src/callGoogleApi/callGoogleApi.js
  functions/src/cleanupProject/index.js
  functions/src/copyServiceAccountToFirestore/index.js
  functions/src/onUserOnlineStatusChange/index.js
  functions/src/sendFcm/index.js
  functions/src/utils/async.js
  functions/src/utils/cloudStorage.js
  functions/src/utils/encryption.js
  functions/src/utils/firebaseFunctions.js
  functions/src/utils/firestore.js
  functions/src/utils/index.js
  functions/src/utils/rtdb.js
  functions/src/utils/search.js
  functions/src/utils/serviceAccounts.js
  functions/test/.eslintrc.js
  functions/test/unit/actionRunner.spec.js
  functions/test/unit/callGoogleApi.spec.js
  functions/yarn.lock
  package.json
  src/routes/Projects/routes/Project/routes/Environments/components/EditEnvironmentDialog/EditEnvironmentDialog.js
  src/routes/Projects/routes/Project/routes/Environments/components/EnvironmentsPage/EnvironmentsPage.js
  src/routes/Projects/routes/Project/routes/Environments/components/EnvironmentsPage/useEnvironmentsPage.js
  yarn.lock
Due: Verify Functions, Build Staging

Bucket config form styling
  src/routes/Projects/routes/Project/routes/BucketConfig/components/BucketConfigForm/BucketConfigForm.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/CorsList/CorsList.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/CorsList/CorsList.styles.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/CorsOriginList/CorsOriginList.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/CorsOriginList/CorsOriginList.styles.js
Due: Build Staging

Update HomePage.js
  src/routes/Home/components/HomePage/HomePage.js
Due: Build Staging

Path conditions:
  Verify Functions: any of: functions/**/*, firebase.json, .gitlab-ci.yml
  Build Packages: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Packages: any of: packages/**/*, lerna.json, .gitlab-ci.yml
  Build Docs: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs Staging: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs Production: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Build Staging: any of: src/**/*, package.json, .eslintrc.js, firebase.json, .gitlab-ci.yml
