Repository prescottprue/fireadmin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Verify Functions, Build Packages, Deploy Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Verify Functions:
  stage: verify
  image: node:10
  allow_failure: true
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    paths:
    - functions/coverage
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  before_script:
  ...

Build Packages:
  stage: build
  image: node:8
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - packages/**/lib
    - packages/**/lib-esm
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  script:
  - yarn lint:packages
  - yarn build:packages

Deploy Packages:
  stage: deploy_production
  image: node:8
  when: on_success
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - packages/**/lib
    - packages/**/lib-esm
  dependencies:
  - Build Packages
  before_script:
  ...

Build Docs:
  stage: build
  image: node:10
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  before_script:
  - CYPRESS_INSTALL_BINARY=0 yarn install --frozen-lockfile --cache-folder .yarn
  ...

Deploy Docs Staging:
  stage: deploy_staging
  image: node:10
  when: on_success
  environment:
    name: docs-staging
    url: https://fireadmin-stage-docs.firebaseapp.com
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  dependencies:
  - Build Docs
  script:
  ...

Deploy Docs Production:
  stage: deploy_production
  image: node:10
  when: manual
  variables:
    FIREBASE_CI_PROJECT: prod
  environment:
    name: docs-production
    url: https://fireadmin-docs.firebaseapp.com
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  ...

Build Staging:
  stage: build
  image: node:10
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - dist
  script:
  - yarn build:config
  - yarn lint:app
  - yarn build
  - yarn size

chore(app): fix casing of descriptions on HomePage (#108) - @gregfenton
  src/routes/Home/components/HomePage/HomePage.js
Due: Build Staging

Remove unneeded console in environments page
  src/routes/Projects/routes/Project/routes/Environments/components/EnvironmentsPage/useEnvironmentsPage.js
Due: Build Staging

Fix issue when visiting action templates page when logged out
  cypress/integration/ActionTemplates/ActionTemplatePage.spec.js
  cypress/integration/ActionTemplates/ActionTemplatesPage.spec.js
  package.json
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.js
  src/routes/ActionTemplate/components/ActionTemplatePage/ActionTemplatePage.js
  src/routes/ActionTemplates/components/ActionTemplateListCard/ActionTemplateListCard.js
  src/routes/ActionTemplates/components/ActionTemplatesList/ActionTemplatesList.js
  src/routes/ActionTemplates/components/NewActionTemplateDialog/NewActionTemplateDialog.js
  src/routes/ActionTemplates/components/PrivateActionTemplates/PrivateActionTemplates.js
  src/routes/ActionTemplates/components/PrivateActionTemplates/PrivateActionTemplates.styles.js
  src/routes/ActionTemplates/components/PrivateActionTemplates/index.js
Due: Build Staging

Fix loading of data in templates detail page
  src/routes/ActionTemplate/components/ActionEditor/ActionEditor.js
  src/routes/ActionTemplate/components/ActionEditor/ActionEditor.utils.js
  src/routes/ActionTemplate/components/ActionEditor/index.js
  src/routes/ActionTemplate/components/ActionStepLocation/ActionStepLocation.js
  src/routes/ActionTemplate/components/ActionTemplateBackups/ActionTemplateBackups.js
  src/routes/ActionTemplate/components/ActionTemplateEnvs/ActionTemplateEnvs.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.js
  src/routes/ActionTemplate/components/ActionTemplateInputs/ActionTemplateInputs.js
  src/routes/ActionTemplate/components/ActionTemplatePage/ActionTemplatePage.js
  src/routes/ActionTemplate/components/ActionTemplateStep/index.js
  src/routes/ActionTemplate/components/ActionTemplateSteps/ActionTemplateSteps.js
  src/routes/ActionTemplate/components/ActionTemplateSteps/ActionTemplateSteps.styles.js
  src/routes/ActionTemplate/components/ActionTemplateSteps/index.js
Due: Build Staging

Fix switch warning in ActionTemplatePage. Prevent double loading of projects and project events by checking if data is from cache.
  package.json
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.js
  src/routes/ActionTemplate/components/ActionTemplateSteps/ActionTemplateSteps.js
  src/routes/Projects/components/ProjectsList/ProjectsList.js
  src/routes/Projects/components/ProjectsPage/ProjectsPage.js
  src/routes/Projects/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.js
  yarn.lock
Due: Build Staging

fix(app): replace signup page link with message - #107
  src/constants/paths.js
  src/layouts/SidebarLayout/sidebarOptions.js
  src/routes/Login/components/LoginPage/LoginPage.js
  src/routes/Projects/routes/Project/components/OverviewPanel/OverviewPanel.js
  src/routes/Projects/routes/Project/routes/Permissions/index.js
Due: Build Staging

Add creating of sentry releases
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  functions/src/actionRunner/runSteps.js
  functions/src/utils/serviceAccounts.js
  package.json
  src/routes/Projects/routes/Project/components/OverviewPanel/OverviewPanel.js
  src/routes/Projects/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.js
  yarn.lock
Due: Verify Functions, Build Staging

Add coverage uploading to verify workflow
  .github/workflows/app-verify.yml
Due: none

Use correct component variant on login page
  package.json
  src/routes/Login/components/LoginPage/LoginPage.js
  src/routes/Projects/components/ProjectsPage/ProjectsPage.js
  yarn.lock
Due: Build Staging

Skip over test requiring click away
  cypress/integration/ActionTemplates/ActionTemplatesPage.spec.js
Due: none

Use reload to prevent issues from click menu
  cypress/integration/ActionTemplates/ActionTemplatesPage.spec.js
Due: none

Add test for deleting of action template
  cypress/integration/ActionTemplates/ActionTemplatePage.spec.js
  src/routes/ActionTemplate/components/ActionTemplateEnvs/ActionTemplateEnvs.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.js
  src/routes/ActionTemplate/components/ActionTemplateInputs/ActionTemplateInputs.js
  src/routes/ActionTemplate/components/ActionTemplateSteps/ActionTemplateSteps.js
  src/routes/ActionTemplate/components/DeleteTemplateDialog/DeleteTemplateDialog.js
Due: Build Staging

fix(ci): use correct flag order for deploy command
  .github/workflows/app-deploy.yml
Due: none

v0.9.0
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  package.json
  src/components/AnalyticsPageViewLogger/AnalyticsPageViewLogger.js
  src/components/AnalyticsPageViewLogger/index.js
  src/components/VersionChangeReloader/index.js
  src/layouts/CoreLayout/CoreLayout.js
  src/routes/Account/components/AccountEditor/AccountEditor.js
  src/routes/Account/components/AccountForm/AccountForm.js
  src/routes/Projects/components/NewProjectTile/NewProjectTile.js
  src/routes/Projects/components/ProjectTile/ProjectTile.js
  src/routes/Projects/components/ProjectsList/ProjectsList.js
  src/routes/Projects/components/ProjectsList/ProjectsList.styles.js
  src/routes/Projects/components/ProjectsPage/ProjectsPage.js
  src/routes/Projects/components/SharingDialog/SharingDialog.js
  src/routes/Projects/routes/Project/components/OverviewPanel/OverviewPanel.js
  src/routes/Projects/routes/Project/components/ProjectPage/ProjectPage.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/useActionsPage.js
  src/routes/Projects/routes/Project/routes/Actions/components/PrivateActionTemplates/PrivateActionTemplates.js
  src/routes/index.js
  src/utils/analytics.js
  src/utils/index.js
Due: Build Staging

fix(app): remove checking of environment for analytics events
  .firebaserc
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  src/routes/ActionTemplates/index.js
  src/utils/analytics.js
Due: Build Staging

v0.9.1
  .eslintrc.js
  .github/workflows/app-deploy.yml
  cypress/.eslintrc.js
  docs/.eslintrc.js
  docs/package.json
  docs/yarn.lock
  firestore.rules
  functions/.eslintrc.js
  functions/package.json
  functions/src/actionRunner/runAction.js
  functions/src/utils/cloudStorage.js
  functions/src/utils/serviceAccounts.js
  functions/yarn.lock
  package.json
  src/components/VersionChangeReloader/index.js
  src/routes/index.js
  src/utils/analytics.js
  storage.rules
  yarn.lock
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

fix(app): fix an issue where redo button was not loading action settings
  src/components/AnalyticsPageViewLogger/AnalyticsPageViewLogger.js
  src/components/SetupMessaging/SetupMessaging.js
  src/components/SetupMessaging/useSetupMessaging.js
  src/routes/ActionTemplate/components/ActionStepLocation/ActionStepLocation.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/useActionsPage.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsRunnerForm/ActionsRunnerForm.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsRunnerForm/ActionsRunnerForm.styles.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsRunnerForm/index.js
  src/routes/Projects/routes/Project/routes/Permissions/components/RolesTable/RolesTable.js
  src/utils/analytics.js
Due: Build Staging

Styling fixes on action runner page
  cypress/integration/Project/ActionRunner.spec.js
  src/components/SplitButton/SplitButton.js
  src/components/SplitButton/index.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionPage.styles.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsRunnerForm/ActionsRunnerForm.js
Due: Build Staging

Remove out of date test for disabled run action button
  cypress/integration/Project/ActionRunner.spec.js
  functions/.babelrc
  functions/index.js
  functions/package.json
  functions/yarn.lock
  package.json
  yarn.lock
Due: Verify Functions, Build Staging

Add back config script
  package.json
Due: Build Staging

v0.9.2 (#110)
  cypress/integration/Project/ActionRunner.spec.js
  functions/.babelrc
  functions/package.json
  functions/yarn.lock
  package.json
  src/components/AnalyticsPageViewLogger/AnalyticsPageViewLogger.js
  src/components/SetupMessaging/SetupMessaging.js
  src/components/SetupMessaging/useSetupMessaging.js
  src/components/SplitButton/SplitButton.js
  src/components/SplitButton/index.js
  src/routes/ActionTemplate/components/ActionStepLocation/ActionStepLocation.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionPage.styles.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/useActionsPage.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsRunnerForm/ActionsRunnerForm.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsRunnerForm/ActionsRunnerForm.styles.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsRunnerForm/index.js
  src/routes/Projects/routes/Project/routes/Permissions/components/RolesTable/RolesTable.js
  src/utils/analytics.js
  yarn.lock
Due: Verify Functions, Build Staging

v0.9.3
  package.json
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/useActionsPage.js
  src/routes/Projects/routes/Project/routes/Environments/components/EditEnvironmentDialog/EditEnvironmentDialog.js
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTable/PermissionsTable.js
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTableRow/PermissionsTableRow.js
  src/routes/Projects/routes/Project/routes/Permissions/components/RolesTable/RolesTable.js
Due: Build Staging

v0.9.4
  package.json
  src/components/VersionChangeReloader/index.js
  src/routes/Login/components/LoginPage/LoginPage.js
Due: Build Staging

v0.9.5
  .github/workflows/app-deploy.yml
  package.json
  public/index.html
  public/manifest.json
  src/components/AnalyticsPageViewLogger/AnalyticsPageViewLogger.js
  src/components/SplitButton/SplitButton.js
  src/utils/errorHandler.js
  yarn.lock
Due: Build Staging

fix(app): remove ignore setting preventing manifest.json from being uploaded in hosting deploy
  firebase.json
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

v0.9.6
  firestore.indexes.json
  functions/src/actionRunner/actions.js
  functions/src/actionRunner/runAction.js
  functions/src/copyServiceAccountToFirestore/index.js
  functions/src/indexUser/index.js
  functions/src/sendFcm/index.js
  functions/src/utils/cloudStorage.js
  functions/src/utils/firestore.js
  functions/src/utils/search.js
  functions/src/utils/serviceAccounts.js
  package.json
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTable/PermissionsTable.js
  src/utils/errorHandler.js
  yarn.lock
Due: Verify Functions, Build Staging

chore(app): switch to constant for displayNames path
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  src/routes/Projects/components/SharingDialog/SharingDialog.js
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTable/PermissionsTable.js
  src/routes/Projects/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.js
Due: Build Staging

Skip failing functions unit tests
  .github/workflows/app-deploy.yml
  functions/test/unit/callGoogleApi.spec.js
Due: Verify Functions

Add warning for failed unit tests instead of exiting
  .github/workflows/app-deploy.yml
Due: none

Add warning if functions tests fail
  .github/workflows/app-verify.yml
Due: none

Cleanup lint
  functions/src/indexUser/index.js
Due: Verify Functions

Replace a few instances of get with destructuring. Cleanup unused functions code.
  functions/src/actionRunner/runAction.js
  functions/src/actionRunner/runSteps.js
  functions/src/callGoogleApi/callGoogleApi.js
  functions/src/callGoogleApi/constants.js
  functions/src/cleanupProject/index.js
  functions/src/constants/serviceAccount.js
  functions/src/copyServiceAccountToFirestore/index.js
  functions/src/sendFcm/index.js
  functions/src/utils/async.js
  functions/src/utils/cloudStorage.js
  functions/src/utils/firebaseFunctions.js
  functions/src/utils/firestore.js
  functions/src/utils/rtdb.js
  functions/src/utils/search.js
  functions/src/utils/serviceAccounts.js
Due: Verify Functions

v0.9.6 (#114)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  README.md
  firestore.indexes.json
  functions/src/actionRunner/actions.js
  functions/src/actionRunner/runAction.js
  functions/src/actionRunner/runSteps.js
  functions/src/callGoogleApi/callGoogleApi.js
  functions/src/callGoogleApi/constants.js
  functions/src/cleanupProject/index.js
  functions/src/constants/serviceAccount.js
  functions/src/copyServiceAccountToFirestore/index.js
  functions/src/indexUser/index.js
  functions/src/sendFcm/index.js
  functions/src/utils/async.js
  functions/src/utils/cloudStorage.js
  functions/src/utils/firebaseFunctions.js
  functions/src/utils/firestore.js
  functions/src/utils/rtdb.js
  functions/src/utils/search.js
  functions/src/utils/serviceAccounts.js
  functions/test/unit/callGoogleApi.spec.js
  package.json
  src/routes/Projects/components/SharingDialog/SharingDialog.js
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTable/PermissionsTable.js
  src/routes/Projects/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.js
  src/utils/errorHandler.js
  yarn.lock
Due: Verify Functions, Build Staging

Modify verify for testing
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
Due: none

Fix service account reference
  .github/workflows/app-verify.yml
Due: none

Add GCLOUD_PROJECT
  .github/workflows/app-verify.yml
Due: none

Echo message instead of failing on download
  .github/workflows/app-verify.yml
Due: none

If statement around loop
  .github/workflows/app-verify.yml
Due: none

Add back slash
  .github/workflows/app-verify.yml
Due: none

Path conditions:
  Verify Functions: any of: functions/**/*, firebase.json, .gitlab-ci.yml
  Build Packages: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Packages: any of: packages/**/*, lerna.json, .gitlab-ci.yml
  Build Docs: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs Staging: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs Production: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Build Staging: any of: src/**/*, package.json, .eslintrc.js, firebase.json, .gitlab-ci.yml
