Repository prescottprue/fireadmin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Verify Functions, Build Packages, Deploy Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Verify Functions:
  stage: verify
  image: node:10
  allow_failure: true
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    paths:
    - functions/coverage
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  before_script:
  ...

Build Packages:
  stage: build
  image: node:8
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - packages/**/lib
    - packages/**/lib-esm
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  script:
  - yarn lint:packages
  - yarn build:packages

Deploy Packages:
  stage: deploy_production
  image: node:8
  when: on_success
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - packages/**/lib
    - packages/**/lib-esm
  dependencies:
  - Build Packages
  before_script:
  ...

Build Docs:
  stage: build
  image: node:10
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  before_script:
  - CYPRESS_INSTALL_BINARY=0 yarn install --frozen-lockfile --cache-folder .yarn
  ...

Deploy Docs Staging:
  stage: deploy_staging
  image: node:10
  when: on_success
  environment:
    name: docs-staging
    url: https://fireadmin-stage-docs.firebaseapp.com
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  dependencies:
  - Build Docs
  script:
  ...

Deploy Docs Production:
  stage: deploy_production
  image: node:10
  when: manual
  variables:
    FIREBASE_CI_PROJECT: prod
  environment:
    name: docs-production
    url: https://fireadmin-docs.firebaseapp.com
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  ...

Build Staging:
  stage: build
  image: node:10
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - dist
  script:
  - yarn build:config
  - yarn lint:app
  - yarn build
  - yarn size

fix loading of functions configs in tests
  functions/src/cleanupProject/cleanupProject.spec.ts
  functions/src/indexActionTemplates/indexActionTemplates.spec.ts
  functions/src/indexUser/indexUser.spec.ts
Due: Verify Functions

Add mock config and switch back node version change
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
  functions/package.json
  functions/src/copyServiceAccountToFirestore/copyServiceAccountToFirestore.spec.ts
  package.json
Due: Verify Functions, Build Staging

skip a failing test due to config not loading
  functions/src/copyServiceAccountToFirestore/copyServiceAccountToFirestore.spec.ts
Due: Verify Functions

Add back missing components to login page
  src/routes/Login/components/LoginPage/LoginPage.js
Due: Build Staging

fix reference and update to firebase v8
  package.json
  src/routes/Login/components/LoginPage/LoginPage.js
  yarn.lock
Due: Build Staging

downgrade firebase to v7
  package.json
  yarn.lock
Due: Build Staging

feat(core): docs analytics and docs.fireadmin.io url updates (#427)
  docs/data/siteConfig.js
  docs/package.json
  docs/yarn.lock
  firebase.json
  functions/package.json
  functions/src/cleanupProject/cleanupProject.spec.ts
  functions/src/copyServiceAccountToFirestore/copyServiceAccountToFirestore.spec.ts
  functions/src/indexActionTemplates/indexActionTemplates.spec.ts
  functions/src/indexUser/indexUser.spec.ts
  functions/yarn.lock
  husky/pre-commit
  package.json
  src/constants/docs.js
  src/routes/Login/components/LoginPage/LoginPage.js
  yarn.lock
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

fix: update dependencies including eslint and prettier
  .eslintrc.js
  functions/package.json
  functions/yarn.lock
  package.json
  src/routes/ActionTemplate/components/ActionTemplatePage/ActionTemplatePage.js
  src/routes/Login/components/LoginPage/LoginPage.js
  src/routes/Projects/routes/Project/routes/Environments/components/AddEnvironmentDialog/AddEnvironmentDialog.js
  yarn.lock
Due: Verify Functions, Build Staging

fix: update react to 17.0.2
  docs/package.json
  docs/yarn.lock
  package.json
  yarn.lock
Due: Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

fix: update functions runtime to node 14
  docs/.eslintrc.js
  docs/package.json
  docs/yarn.lock
  functions/package.json
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production

fix: switch back node version
  functions/package.json
Due: Verify Functions

fix: update dependencies including eslint and prettier (#494)
  .eslintrc.js
  docs/.eslintrc.js
  docs/package.json
  docs/yarn.lock
  functions/package.json
  functions/yarn.lock
  package.json
  src/routes/ActionTemplate/components/ActionTemplatePage/ActionTemplatePage.js
  src/routes/Login/components/LoginPage/LoginPage.js
  src/routes/Projects/routes/Project/routes/Environments/components/AddEnvironmentDialog/AddEnvironmentDialog.js
  yarn.lock
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

fix: update to node 14 in functions and CI
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
  functions/package.json
Due: Verify Functions

fix: update to node 14 in functions and CI (#495)
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
  functions/package.json
Due: Verify Functions

fix: use load-config script
  .eslintrc.js
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  bin/generate-firebase-sdk-config.js
Due: Build Staging

fix: add GCLOUD_PROJECT
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
Due: none

fix: add outputEnv option
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  bin/generate-firebase-sdk-config.js
Due: none

fix: add new line before env
  .github/workflows/app-verify.yml
  bin/generate-firebase-sdk-config.js
Due: none

fix(ci): use load-config script in place of inline bash (#567)
  .eslintrc.js
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  bin/generate-firebase-sdk-config.js
Due: Build Staging

chore(deps): add renovate.json
  renovate.json
Due: none

Path conditions:
  Verify Functions: any of: functions/**/*, firebase.json, .gitlab-ci.yml
  Build Packages: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Packages: any of: packages/**/*, lerna.json, .gitlab-ci.yml
  Build Docs: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs Staging: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs Production: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Build Staging: any of: src/**/*, package.json, .eslintrc.js, firebase.json, .gitlab-ci.yml
