Repository prescottprue/fireadmin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Verify Functions, Build Packages, Deploy Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Verify Functions:
  stage: verify
  image: node:10
  allow_failure: true
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    paths:
    - functions/coverage
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  before_script:
  ...

Build Packages:
  stage: build
  image: node:8
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - packages/**/lib
    - packages/**/lib-esm
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  script:
  - yarn lint:packages
  - yarn build:packages

Deploy Packages:
  stage: deploy_production
  image: node:8
  when: on_success
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - packages/**/lib
    - packages/**/lib-esm
  dependencies:
  - Build Packages
  before_script:
  ...

Build Docs:
  stage: build
  image: node:10
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - .yarn
  before_script:
  - CYPRESS_INSTALL_BINARY=0 yarn install --frozen-lockfile --cache-folder .yarn
  ...

Deploy Docs Staging:
  stage: deploy_staging
  image: node:10
  when: on_success
  environment:
    name: docs-staging
    url: https://fireadmin-stage-docs.firebaseapp.com
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  dependencies:
  - Build Docs
  script:
  ...

Deploy Docs Production:
  stage: deploy_production
  image: node:10
  when: manual
  variables:
    FIREBASE_CI_PROJECT: prod
  environment:
    name: docs-production
    url: https://fireadmin-docs.firebaseapp.com
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - docs/public
  ...

Build Staging:
  stage: build
  image: node:10
  artifacts:
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    expire_in: 2 weeks
    when: always
    paths:
    - dist
  script:
  - yarn build:config
  - yarn lint:app
  - yarn build
  - yarn size

Rename to appStage
  .firebaserc
  .github/workflows/app-deploy.yml
  firebase.json
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Fix paths in workflows
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
Due: none

Switch to Github Actions for CI (#94)
  .firebaserc
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
  .gitlab-ci.yml
  README.md
  firebase.json
  package.json
Due: Verify Functions, Build Packages, Deploy Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Fix firebase-ci call
  .github/workflows/app-deploy.yml
  .github/workflows/docs-deploy.yml
Due: none

Switch to Github Actions for CI (#98)
  .firebaserc
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
  .gitlab-ci.yml
  README.md
  firebase.json
  package.json
Due: Verify Functions, Build Packages, Deploy Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

fix(deps): update firebase-ci and firebase-tools
  package.json
  yarn.lock
Due: Build Staging

fix(rules): use correct variable in firestore rules for templates
  .firebaserc
  firestore.rules
  package.json
  yarn.lock
Due: Build Staging

Update yarn.lock
  yarn.lock
Due: none

Re-enable tests in CI
  .github/workflows/app-verify.yml
  package.json
Due: Build Staging

Make script for spinning up server and emulator concurrently
  .github/workflows/app-verify.yml
  package.json
  yarn.lock
Due: Build Staging

Correctly set project flag in concurrently command
  .github/workflows/app-verify.yml
Due: none

Fix concurrently command
  .github/workflows/app-verify.yml
Due: none

Move start command to an npm script
  .github/workflows/app-verify.yml
  package.json
Due: Build Staging

Try dev within verify and add test-hosted
  .github/workflows/app-deploy.yml
  .github/workflows/app-test-hosted.yml
  package.json
Due: Build Staging

Switch to push for test hosted
  .github/workflows/app-test-hosted.yml
Due: none

Fix test hosted settings
  .github/workflows/app-deploy.yml
  .github/workflows/app-test-hosted.yml
  .github/workflows/app-verify.yml
Due: none

Fix test-hosted dep
  .github/workflows/app-test-hosted.yml
Due: none

Pass SERVICE_ACCOUNT to tests and run test-hosted in parallel
  .github/workflows/app-deploy.yml
  .github/workflows/app-test-hosted.yml
  .github/workflows/app-verify.yml
Due: none

Use tasks plugin from cypress-firebase
  .github/workflows/app-deploy.yml
  .github/workflows/app-test-hosted.yml
  .github/workflows/app-verify.yml
  cypress/integration/Project/ActionRunner.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  package.json
  src/store/createStore.js
  yarn.lock
Due: Build Staging

Improve events testing
  .github/workflows/app-verify.yml
  cypress/integration/Project/ActionRunner.spec.js
  cypress/integration/Project/Events.spec.js
  cypress/support/commands.js
  src/routes/Projects/routes/Project/routes/ProjectEvents/components/EventsTable/EventsTable.js
  src/routes/Projects/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.enhancer.js
  src/selectors/projectSelectors.js
  src/store/createStore.js
  src/utils/components.js
  src/utils/formatters.js
Due: Build Staging

Add uncaught exception handler
  cypress/support/index.js
  src/routes/Projects/routes/Project/routes/ProjectEvents/components/EventsTable/EventsTable.js
  src/routes/Projects/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.enhancer.js
  src/selectors/projectSelectors.js
Due: Build Staging

fix(deps): update to cypress-firebase 0.11.0-alpha.8 for sub-collection delete support in tests
  package.json
  yarn.lock
Due: Build Staging

Add path to artifact download
  .github/workflows/app-verify.yml
Due: none

Pass env variables to build:config stage
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  firebase.json
  package.json
  src/store/createStore.js
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Add project flag
  .github/workflows/app-verify.yml
Due: none

Add log-to-output plugin to cypress
  .env.local
  .github/workflows/app-test-hosted.yml
  cypress/plugins/index.js
  package.json
  yarn.lock
Due: Build Staging

Switch emulators back to all of hosting
  .firebaserc
  functions/.gitignore
  package.json
Due: Verify Functions, Build Staging

Remove appStage hosting target
  .firebaserc
  firebase.json
  package.json
  yarn.lock
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Send all output to logs
  cypress/plugins/index.js
Due: none

Improve projects page tests. Remove cypress-log-to-output
  .github/workflows/app-deploy.yml
  .github/workflows/app-test-hosted.yml
  .github/workflows/app-verify.yml
  cypress/integration/ProjectsPage.spec.js
  cypress/plugins/index.js
  package.json
  yarn.lock
Due: Build Staging

Switch to pluginWithTasks from cypress-firebase
  .babelrc
  .github/workflows/app-deploy.yml
  .github/workflows/app-test-hosted.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
  cypress/plugins/index.js
  package.json
  yarn.lock
Due: Build Staging

cypress-firebase v1.0.0-alpha
  cypress/plugins/index.js
  package.json
  yarn.lock
Due: Build Staging

Run lint:fix
  src/modules/notification/components/withNotifications.js
  src/routes/ActionTemplates/components/ActionTemplatesList/ActionTemplatesList.enhancer.js
  src/routes/Projects/routes/Project/routes/Actions/components/PrivateActionTemplates/PrivateActionTemplates.enhancer.js
  src/routes/Projects/routes/Project/routes/Environments/components/EditEnvironmentDialog/EditEnvironmentDialog.enhancer.js
  src/selectors/projectSelectors.js
Due: Build Staging

Set base url in test env settings
  .github/workflows/app-deploy.yml
  .github/workflows/app-test-hosted.yml
  .github/workflows/app-verify.yml
Due: none

Add emulator info into app build stage
  .github/workflows/app-verify.yml
Due: none

Add back log-to-output
  .github/workflows/app-verify.yml
  cypress.json
  cypress/plugins/index.js
  package.json
  yarn.lock
Due: Build Staging

Switch config for stage back to master and prod back to its own branch
  .firebaserc
Due: none

Add check for tile before check for data in projects test
  cypress/integration/ProjectsPage.spec.js
  package.json
  yarn.lock
Due: Build Staging

Use cypress-wait-until. Fix badges.
  .github/workflows/app-deploy.yml
  README.md
  cypress/integration/ProjectsPage.spec.js
  cypress/support/index.js
  package.json
  yarn.lock
Due: Build Staging

Add parallel running to test workflows
  .github/workflows/app-deploy.yml
  .github/workflows/app-test-hosted.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
Due: none

Path conditions:
  Verify Functions: any of: functions/**/*, firebase.json, .gitlab-ci.yml
  Build Packages: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Packages: any of: packages/**/*, lerna.json, .gitlab-ci.yml
  Build Docs: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs Staging: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs Production: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Build Staging: any of: src/**/*, package.json, .eslintrc.js, firebase.json, .gitlab-ci.yml
