Repository prescottprue/fireadmin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Verify Functions, Build Packages, Deploy Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Path conditions:
  Verify Functions: any of: functions/**/*, firebase.json, .gitlab-ci.yml
  Build Packages: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Packages: any of: packages/**/*, lerna.json, .gitlab-ci.yml
  Build Docs: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs Staging: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs Production: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Build Staging: any of: src/**/*, package.json, .eslintrc.js, firebase.json, .gitlab-ci.yml

Update material-ui to v4
  docs/src/components/layout.js
  package.json
  src/components/FormCheckboxField/FormCheckboxField.js
  src/components/FormCheckboxField/index.js
  src/components/FormSelectField/FormSelectField.js
  src/components/FormSelectField/index.js
  src/components/OutlinedSelect/OutlinedSelect.styles.js
  src/components/OutlinedTextField/OutlinedTextField.styles.js
  src/modules/notification/components/Notifications.js
  src/routes/Account/components/AccountPage/AccountPage.styles.js
  src/routes/ActionTemplate/components/ActionStepLocation/ActionStepLocation.js
  src/routes/ActionTemplate/components/ActionTemplateBackups/ActionTemplateBackups.js
  src/routes/ActionTemplate/components/ActionTemplateEnvs/ActionTemplateEnvs.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.enhancer.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.js
  src/routes/ActionTemplate/components/ActionTemplateInputs/ActionTemplateInputs.js
  src/routes/ActionTemplate/components/ActionTemplateStep/ActionTemplateStep.js
  src/routes/ActionTemplates/components/NewActionTemplateForm/NewActionTemplateForm.js
  src/routes/Home/components/HomePage/HomePage.js
  src/routes/Projects/components/NewProjectDialog/NewProjectDialog.styles.js
  src/routes/Projects/components/NewProjectTile/NewProjectTile.styles.js
  src/routes/Projects/components/ProjectTile/ProjectTile.styles.js
  src/routes/Projects/components/ProjectsPage/ProjectsPage.styles.js
  src/routes/Projects/routes/Project/components/OverviewPanel/OverviewPanel.js
  src/routes/Projects/routes/Project/components/ProjectPage/ProjectPage.styles.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionInput/ActionInput.styles.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionRunnerForm/ActionRunnerForm.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.enhancer.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/BucketConfigForm/BucketConfigForm.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/CorsList/CorsList.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/CorsOriginList/CorsOriginList.js
  src/routes/Projects/routes/Project/routes/Environments/components/AddEnvironmentDialog/AddEnvironmentDialog.js
  src/routes/Projects/routes/Project/routes/Environments/components/EditEnvironmentDialog/EditEnvironmentDialog.js
  src/routes/Projects/routes/Project/routes/Permissions/components/NewRoleCard/NewRoleCard.js
  src/routes/Projects/routes/Project/routes/Permissions/components/NewRoleCard/NewRoleCard.styles.js
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTable/PermissionsTable.styles.js
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTableRow/PermissionsTableRow.js
  src/routes/Projects/routes/Project/routes/Permissions/components/RolesTableRow/RolesTableRow.js
  src/theme.js
  yarn.lock
Due: Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Fix paths [ci skip]
  src/routes/ActionTemplate/components/ActionTemplatePage/TemplateLoadingError.js
  src/routes/ActionTemplate/components/ActionTemplatePage/TemplateNotFound.js
Due: Build Staging

Fix ci issue [ci skip]
  .gitlab-ci.yml
Due: Verify Functions, Build Packages, Deploy Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Fix bad styles references [ci skip]
  src/routes/ActionTemplate/components/ActionStepLocation/ActionStepLocation.js
  src/routes/Projects/routes/Project/routes/Environments/components/FilesUploader/FilesUploader.js
Due: Build Staging

Switch navbar to hooks and add hooks lint rules [ci skip]
  .eslintrc.js
  package.json
  src/containers/Navbar/AccountMenu.js
  src/containers/Navbar/LoginMenu.js
  src/containers/Navbar/Navbar.enhancer.js
  src/containers/Navbar/Navbar.js
  src/modules/notification/components/Notifications.js
  src/routes/Projects/routes/Project/routes/Environments/components/FilesUploader/FilesUploader.js
  yarn.lock
Due: Build Staging

Fix action templates rendering. Fix account menu + some styling of action runner
  package.json
  src/components/FormRadioGroupField/FormRadioGroupField.js
  src/components/FormRadioGroupField/FormRadioGroupField.styles.js
  src/components/FormRadioGroupField/index.js
  src/components/FormSelectField/FormSelectField.js
  src/components/FormSwitchField/FormSwitchField.js
  src/components/FormSwitchField/index.js
  src/components/OutlinedSelect/OutlinedSelect.js
  src/components/OutlinedSelect/OutlinedSelect.styles.js
  src/containers/Navbar/AccountMenu.js
  src/routes/Account/components/AccountForm/AccountForm.js
  src/routes/ActionTemplate/components/ActionStepLocation/ActionStepLocation.js
  src/routes/ActionTemplate/components/ActionTemplateBackups/ActionTemplateBackups.js
  src/routes/ActionTemplate/components/ActionTemplateEnvs/ActionTemplateEnvs.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.js
  src/routes/ActionTemplate/components/ActionTemplateInputs/ActionTemplateInputs.js
  src/routes/ActionTemplate/components/ActionTemplateStep/ActionTemplateStep.js
  src/routes/ActionTemplates/components/ActionTemplatesList/ActionTemplatesList.js
  src/routes/ActionTemplates/components/NewActionTemplateForm/NewActionTemplateForm.js
  src/routes/Home/components/HomePage/HomePage.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionRunnerForm/ActionRunnerForm.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionRunnerForm/ActionRunnerForm.styles.js
  src/selectors/projectSelectors.js
  yarn.lock
Due: Build Staging

Fix passing down of data-test param in outlined select
  functions/.eslintrc.js
  package.json
  src/components/OutlinedSelect/OutlinedSelect.enhancer.js
  src/components/OutlinedSelect/OutlinedSelect.js
  src/components/OutlinedSelect/index.js
  src/routes/ActionTemplate/components/ActionStepLocation/ActionStepLocation.js
  src/routes/ActionTemplate/components/ActionTemplateBackups/ActionTemplateBackups.enhancer.js
  src/routes/ActionTemplate/components/ActionTemplateBackups/ActionTemplateBackups.js
  src/routes/ActionTemplate/components/ActionTemplateBackups/ActionTemplateBackups.styles.js
  src/routes/ActionTemplate/components/ActionTemplateBackups/index.js
  src/routes/ActionTemplate/components/ActionTemplateEnvs/ActionTemplateEnvs.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.styles.js
  src/routes/ActionTemplate/components/ActionTemplateInputs/ActionTemplateInputs.js
  src/routes/ActionTemplate/components/ActionTemplateStep/ActionTemplateStep.js
  src/routes/ActionTemplate/components/ActionTemplateStep/ActionTemplateStep.styles.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/BucketConfigForm/BucketConfigForm.js
  src/routes/Projects/routes/Project/routes/BucketConfig/components/BucketConfigForm/BucketConfigForm.styles.js
  src/theme.js
  yarn.lock
Due: Verify Functions, Build Staging

Style account page. Fix extra scrolling. [ci skip]
  package.json
  public/index.html
  src/layouts/CoreLayout/CoreLayout.styles.js
  src/routes/Account/components/AccountForm/AccountForm.js
  src/routes/Account/components/AccountForm/AccountForm.styles.js
  src/routes/Account/components/AccountPage/AccountPage.enhancer.js
  src/routes/Account/components/AccountPage/AccountPage.js
  src/routes/Account/components/AccountPage/AccountPage.styles.js
  src/routes/Home/components/HomePage/HomePage.js
  src/routes/Home/components/HomePage/HomePage.styles.js
  src/routes/Projects/routes/Project/routes/Environments/components/Instance/Instance.enhancer.js
  src/routes/Projects/routes/Project/routes/Environments/components/Instance/Instance.js
  src/routes/Projects/routes/Project/routes/Environments/components/Instance/Instance.styles.js
  src/routes/Projects/routes/Project/routes/Environments/components/Instance/index.js
Due: Build Staging

fix action runner and environment tests. Update to new version of cypress-firebase. Skip analytics, messaging, and error handler during tests
  cypress.json
  cypress/integration/Project/ActionRunner.spec.js
  cypress/integration/Project/Environments.spec.js
  cypress/support/commands.js
  database.rules.json
  package.json
  src/constants/firebasePaths.js
  src/routes/Projects/routes/Project/routes/Environments/components/FilesUploader/FilesUploader.js
  src/store/createStore.js
  src/utils/analytics.js
  src/utils/errorHandler.js
  src/utils/firebaseMessaging.js
  yarn.lock
Due: Build Staging

Add firebase analytics support in setAnalyticsUser. Add measurementId and appId for prod
  .firebaserc
  src/utils/analytics.js
Due: Build Staging

Remove SignupPage (part of email login removal). Add isMobile and only use redirect login on mobile. Improve vapid key handling
  .yo-rc.json
  public/index.html
  src/components/LoadingSpinner/LoadingSpinner.styles.js
  src/containers/Navbar/AccountMenu.js
  src/routes/ActionTemplate/components/ActionTemplateBackups/ActionTemplateBackups.js
  src/routes/ActionTemplate/components/ActionTemplateBackups/ActionTemplateBackups.styles.js
  src/routes/ActionTemplates/components/ActionTemplateListCard/ActionTemplateListCard.js
  src/routes/ActionTemplates/components/ActionTemplateListCard/ActionTemplateListCard.styles.js
  src/routes/Login/components/LoginForm/LoginForm.enhancer.js
  src/routes/Login/components/LoginForm/LoginForm.js
  src/routes/Login/components/LoginForm/LoginForm.styles.js
  src/routes/Login/components/LoginForm/index.js
  src/routes/Login/components/LoginPage/LoginPage.enhancer.js
  src/routes/Login/components/LoginPage/LoginPage.js
  src/routes/Login/components/LoginPage/LoginPage.styles.js
  src/routes/Signup/components/SignupForm/SignupForm.enhancer.js
  src/routes/Signup/components/SignupForm/SignupForm.js
  src/routes/Signup/components/SignupForm/SignupForm.styles.js
  src/routes/Signup/components/SignupForm/index.js
  src/routes/Signup/components/SignupPage/SignupPage.enhancer.js
  src/routes/Signup/components/SignupPage/SignupPage.js
  src/routes/Signup/components/SignupPage/SignupPage.styles.js
  src/routes/Signup/components/SignupPage/index.js
  src/routes/Signup/index.js
  src/routes/index.js
  src/utils/messaging.js
Due: Build Staging

Update react and cypress
  package.json
  yarn.lock
Due: Build Staging

Add coreorigin attribute to manifest link [ci skip]
  public/index.html
  public/manifest.json
Due: none

Update cypress-firebase to fix document verification in environments tests
  .eslintrc.js
  .gitlab-ci.yml
  cypress/integration/Project/Environments.spec.js
  cypress/integration/ProjectsPage.spec.js
  firebase.json
  package.json
  yarn.lock
Due: Verify Functions, Build Packages, Deploy Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Add avatarl and email to collaborator dialog
  src/components/UsersList/UsersList.js
  src/components/UsersSearch/ResultsList.js
  src/components/UsersSearch/SuggestedUser.js
  src/routes/Projects/components/SharingDialog/SharingDialog.enhancer.js
  src/routes/Projects/components/SharingDialog/SharingDialog.js
  src/routes/Projects/components/SharingDialog/SharingDialog.styles.js
Due: Build Staging

Switch to style hooks in docs [ci skip]
  docs/package.json
  docs/src/components/HomePage/HomePage.enhancer.js
  docs/src/components/HomePage/HomePage.js
  docs/src/components/HomePage/index.js
  docs/src/components/Loading/Loading.enhancer.js
  docs/src/components/Loading/Loading.js
  docs/src/components/Loading/index.js
  docs/src/components/SidebarItem/SidebarItem.enhancer.js
  docs/src/components/SidebarItem/SidebarItem.js
  docs/src/components/SidebarItem/SidebarItem.styles.js
  docs/yarn.lock
  package.json
  yarn.lock
Due: Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

v0.8.10
  docs/package.json
  docs/yarn.lock
  package.json
  public/manifest.json
  src/store/createStore.js
Due: Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

v0.8.11
  .size-limit.js
  build/.babelrc
  build/lib/logger.js
  build/scripts/compile.js
  build/scripts/start.js
  build/webpack.config.js
  firebase.json
  functions/scripts/testSetup.js
  functions/test/mocha.opts
  package.json
  yarn.lock
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Fix paths in gitlab settings [skip-unit-tests]
  .gitlab-ci.yml
  docs/src/utils/index.js
  package.json
Due: Verify Functions, Build Packages, Deploy Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

v0.8.12
  .eslintignore
  .gitignore
  Dockerfile
  cypress/Dockerfile
  firebase.json
  jsconfig.json
  package.json
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

v0.8.13
  .gitlab-ci.yml
  cypress/integration/ProjectsPage.spec.js
  package.json
  src/constants.js
  src/routes/Projects/components/ProjectsPage/ProjectsPage.enhancer.js
  src/routes/Projects/components/ProjectsPage/ProjectsPage.handlers.js
  src/routes/Projects/routes/Project/routes/Permissions/components/DeleteMemberModal/DeleteMemberModal.enhancer.js
  src/routes/Projects/routes/Project/routes/Permissions/components/DeleteMemberModal/DeleteMemberModal.js
  src/routes/Projects/routes/Project/routes/Permissions/components/DeleteMemberModal/index.js
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTable/PermissionsTable.handlers.js
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTable/PermissionsTable.js
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTableRow/PermissionsTableRow.js
  src/routes/Projects/routes/Project/routes/Permissions/components/PermissionsTableRow/PermissionsTableRow.styles.js
  src/routes/Projects/routes/Project/routes/Permissions/components/RolesTable/RolesTable.js
  src/routes/Projects/routes/Project/routes/Permissions/components/RolesTableRow/RolesTableRow.js
Due: Verify Functions, Build Packages, Deploy Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Start github actions
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  README.md
Due: none

Add verify app to main workflow and artifact support for functions build
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  README.md
Due: none

Fix cache settings
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: none

v0.8.14
  package.json
  src/constants/analytics.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.handlers.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.js
  src/utils/firebaseMessaging.js
  src/utils/messaging.js
  yarn.lock
Due: Build Staging

Update firebase-ci and firebase-tools. Fix comment
  package.json
  src/utils/messaging.js
  yarn.lock
Due: Build Staging

Remove unused sentry import
  src/routes/Projects/routes/Project/routes/Actions/components/ActionsPage/ActionsPage.handlers.js
Due: Build Staging

Add appId to firebase config
  .firebaserc
Due: none

fix(ci): remove changes config from app build in CI
  .gitlab-ci.yml
  docs/content/source/file-structure.md
  package.json
  yarn.lock
Due: Verify Functions, Build Packages, Deploy Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Start changes for autocompleting environment name in ActionRunner
  package.json
  src/components/FormAutocomplete/FormAutocomplete.js
  src/components/FormAutocomplete/FormAutocomplete.styles.js
  src/components/FormAutocomplete/index.js
  src/components/OutlinedTextField/OutlinedTextField.js
  src/routes/Projects/routes/Project/routes/Actions/components/ActionRunnerForm/ActionRunnerForm.js
  yarn.lock
Due: Build Staging

v0.8.15
  cypress.json
  cypress/plugins/index.js
  cypress/support/index.js
  package.json
  yarn.lock
Due: Build Staging

Setup emulator support. Stabilize projects tests.
  cypress/integration/ProjectsPage.spec.js
  cypress/support/commands.js
  firebase.json
  package.json
  src/routes/Projects/components/NewProjectDialog/NewProjectDialog.js
  src/routes/Projects/components/NewProjectTile/NewProjectTile.js
  src/routes/Projects/components/ProjectTile/ProjectTile.js
  src/store/createStore.js
  src/utils/messaging.js
  yarn.lock
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Add workflows for packages and docs
  .github/workflows/deploy-docs.yml
  .github/workflows/main.yml
  .github/workflows/publish-core-package.yml
  .github/workflows/publish-fireadmin-tools-package.yml
  .github/workflows/verify-docs.yml
  .github/workflows/verify.yml
  .gitlab-ci.yml
  package.json
Due: Verify Functions, Build Packages, Deploy Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging

Switch master to prod
  .firebaserc
  .github/workflows/app-deploy.yml
  .github/workflows/app-verify.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-verify.yml
  .github/workflows/publish-core-package.yml
  .github/workflows/publish-fireadmin-tools-package.yml
  firebase.json
Due: Verify Functions, Build Packages, Build Docs, Deploy Docs Staging, Deploy Docs Production, Build Staging
